@model IEnumerable<SistemaCenagas.Models.Proyectos>

@{
    ViewData["Title"] = "Index";
}
<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Proyectos</li>

            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global._usuario.Titulo + " " + Global._usuario.Nombre + " | " + (Global._usuario.Rol != null ? Global._usuario.Rol : "Sin asignación"))
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h2 class="mb-0">Lista de proyectos</h2>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-primary form-control" asp-action="Create">Nuevo proyecto</a>
                </div>
            </div>

        </div>
        <table id="tblData" class="table table-bordered table-responsive-xl">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Folio_adc)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Instalacion_Area)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tipo_Cambio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Folio_adc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Instalacion_Area)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo_Cambio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            <a class="btn btn-info form-control" asp-action="Edit" asp-route-id="@item.Id_Proyecto">Editar</a>
                        </td>
                        <td>
                            <a class="btn btn-primary form-control" asp-action="Details" asp-route-id="@item.Id_Proyecto">Detalles</a>
                        </td>
                        <td>
                            <a class="btn btn-danger form-control" asp-action="Delete" asp-route-id="@item.Id_Proyecto">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


