@model IEnumerable<SistemaCenagas.Models.Asignacion>

@{
    ViewData["Title"] = "Index";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Principal</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Proyectos</li>
                
            </ol>
        </nav>

        <div class="dropdown">
            <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                <i class="material-icons">configuracion</i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="nav-side-user.html" class="dropdown-item">Perfil</a>
                <a asp-controller="Home" asp-action="AccountSettings" class="dropdown-item">Configuración de la cuenta</a>
                <a asp-controller="Home" asp-action="LogOut" class="dropdown-item text-danger">Cerrar sesión</a>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h2 class="mb-0">Proyectos asignados</h2>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-primary form-control" asp-controller="Asignacion" asp-action="Create">Nueva asignación</a>
                </div>
            </div>

        </div>
        <table id="tblData" class="table table-bordered table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Folio ADC
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Instalación area
                    </th>
                    <th>
                        Tipo cambio
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ToList().Count; i++)
                {
                    <tr>
                        <td>
                            @ViewBag.proyectosEmpleado[i].Folio_adc
                        </td>
                        <td>
                            @ViewBag.proyectosEmpleado[i].Nombre
                        </td>
                        <td>
                            @ViewBag.proyectosEmpleado[i].Instalacion_Area
                        </td>
                        <td>
                            @ViewBag.proyectosEmpleado[i].Tipo_Cambio
                        </td>
                        <td>
                            @ViewBag.proyectosEmpleado[i].Descripcion
                        </td>
                        
                        <td>
                            <a class="btn btn-info form-control" asp-controller="Proyectos" asp-action="Details" asp-route-id="@Model.ToList()[i].Id_Asignacion">Detalles</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


