@model SistemaCenagas.Models.ADC

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" tabindex="-1" role="dialog" id="administrarADC-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Administrar proyecto</h5>
                <a asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Edit">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Id_Proyecto" />
                    <input type="hidden" asp-for="Id_ProponenteCambio" />
                    <input type="hidden" asp-for="Folio" />
                    <input type="hidden" asp-for="Fecha_Actualizacion" />


                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Proyecto</label>
                        <div class="col">
                            <input type="text" value="@(Global.adc.proyecto)" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">No. de Folio del ADC</label>
                        <div class="col">
                            <input type="text" value="@(Global.adc.adc.Folio)" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Proponente del cambio</label>
                        <div class="col">
                            <input type="text" value="@(Global.adc.proponente)" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Fecha de actualización</label>
                        <div class="col">
                            <input type="text" value="@(Global.adc.adc.Fecha_Actualizacion)" class="form-control" disabled />
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Id_LiderEquipoVerificador" class="col-2" style="text-align:right;">Líder del equipo verificador</label>
                        <div class="col">
                            <select asp-for="Id_LiderEquipoVerificador" class="form-control" required>
                                @foreach (var item in Global.lideres)
                                {
                                    <option value="@(item.Id)">
                                        @(item.Titulo + " " + item.Nombre + " " + item.Paterno + " " + item.Materno)
                                    </option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Id_LiderEquipoVerificador" class="text-danger"></span>
                    </div>

                    <div class="form-group row align-items-center">
                        <label asp-for="Id_ResponsableADC" class="col-2" style="text-align:right;">Responsable del ADC</label>
                        <div class="col">
                            <select asp-for="Id_ResponsableADC" class="form-control" required>
                                @foreach (var item in Global.responsablesADC)
                                {
                                    <option value="@(item.Id)">
                                        @(item.Titulo + " " + item.Nombre + " " + item.Paterno + " " + item.Materno)
                                    </option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Id_ResponsableADC" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Id_Suplente" class="col-2" style="text-align:right;">Suplente</label>
                        <div class="col">
                            <select asp-for="Id_Suplente" class="form-control" required>
                                <option value="1">--- Selecciona una opción ---</option>
                                @foreach (var item in Global.suplentes)
                                {
                                    <option value="@(item.Id)">
                                        @(item.Titulo + " " + item.Nombre + " " + item.Paterno + " " + item.Materno)
                                    </option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Id_Suplente" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button role="button" class="btn btn-success" type="submit">
                            Guardar
                        </button>
                        <a class="btn btn-dark" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
