@model AppCenagas_v2.Models.Asignacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Asignacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idempleado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idempleado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idproyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idproyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Idresidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Idresidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechaalta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechaalta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fechabaja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fechabaja)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idasignacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
