@model IEnumerable<AppCenagas_v2.Models.Asignacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idempleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idproyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idresidencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechaalta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fechabaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idempleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idproyecto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idresidencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechaalta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fechabaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Funcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idasignacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idasignacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idasignacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
