@model SistemaCenagas.Models.ADC

@{
    ViewData["Title"] = "Edit";
}
<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="ADCAdmin" asp-action="Index">ADC</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Administrar</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.session_usuario.user.Titulo + " " + Global.session_usuario.user.Nombre + " | " + Global.session_usuario.Rol)
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">Administrar proyecto</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input type="hidden" asp-for="Id_ADC" />
                            <input type="hidden" asp-for="Id_Proyecto" />
                            <input type="hidden" asp-for="Id_ProponenteCambio" />
                            <input type="hidden" asp-for="Folio" />
                            <input type="hidden" asp-for="Fecha_Actualizacion" />


                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Proyecto</label>
                                <div class="col">
                                    <input type="text" value="@(Global.adc.proyecto)" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">No. de Folio del ADC</label>
                                <div class="col">
                                    <input type="text" value="@(Global.adc.adc.Folio)" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Proponente del cambio</label>
                                <div class="col">
                                    <input type="text" value="@(Global.adc.proponente)" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Fecha de actualización</label>
                                <div class="col">
                                    <input type="text" value="@(Global.adc.adc.Fecha_Actualizacion)" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label asp-for="Id_Lider" class="col-2" style="text-align:right;">Líder</label>
                                <div class="col">
                                    @if (Global.session_usuario.user.Id_Rol >= 5) //Administradores
                                    {
                                        <select asp-for="Id_Lider" class="form-control" required>
                                            @foreach (var item in Global.lideres)
                                            {
                                                <option value="@(item.Id_Usuario)">
                                                    @(item.Titulo + " " + item.Nombre + " " + item.Paterno + " " + item.Materno)
                                                </option>
                                            }
                                        </select>
                                    }
                                    else
                                    {
                                        <input type="hidden" asp-for="Id_Lider" />
                                        <input type="text" value="@(Global.adc.lider)" class="form-control" disabled />
                                    }

                                </div>
                                <span asp-validation-for="Id_Lider" class="text-danger"></span>
                            </div>


                            @if (Global.session_usuario.user.Id_Rol <= 4) //responsable del ADC
                            {
                                <div class="form-group row align-items-center">
                                    <label asp-for="Id_ResponsableADC" class="col-2" style="text-align:right;">Responsable del ADC</label>
                                    <div class="col">
                                        <select asp-for="Id_ResponsableADC" class="form-control" required>
                                            @foreach (var item in Global.responsablesADC)
                                            {
                                                <option value="@(item.Id_Usuario)">
                                                    @(item.Titulo + " " + item.Nombre + " " + item.Paterno + " " + item.Materno)
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="Id_ResponsableADC" class="text-danger"></span>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label asp-for="Id_Suplente" class="col-2" style="text-align:right;">Suplente</label>
                                    <div class="col">
                                        <select asp-for="Id_Suplente" class="form-control" required>
                                            <option value="1">--- Selecciona una opción ---</option>
                                            @foreach (var item in Global.suplentes)
                                            {
                                                <option value="@(item.Id_Usuario)">
                                                    @(item.Titulo + " " + item.Nombre + " " + item.Paterno + " " + item.Materno)
                                                </option>
                                            }
                                        </select>
                                    </div>
                                    <span asp-validation-for="Id_Suplente" class="text-danger"></span>
                                </div>
                            }
                            else
                            {
                                <input type="hidden" asp-for="Id_ResponsableADC" />
                                <input type="hidden" asp-for="Id_Suplente" />
                            }

                            <hr>
                            <div class="form-group row align-items-center">
                                <div class="col-5">
                                    <input type="submit" value="Guardar" class="btn btn-primary" />
                                    <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
