
@{
    ViewData["Title"] = "Index";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">ADC</li>

            </ol>
        </nav>

        <div class="dropdown">
            <button class="btn btn-round" role="button" title="@(Global.session_usuario.nombre_completo)" data-toggle="dropdown" aria-expanded="false">
                <img alt="Image" src="~/assets/img/user.jpeg" class="avatar" />
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-header text-dark text-uppercase">@(Global.session_usuario.Rol)</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="AccountSettings">Configuración de la cuenta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" asp-controller="Home" asp-action="LogOut">Cerrar sesión</a>

            </div>
        </div>


    </div>

    <div id="PlaceHolderHere"></div>

    <div class="container">

        <div class="page-header mb-4">
            <div class="row content-list-head">
                <div class="col-auto">
                    @if (Global.session_usuario.user.Id_Rol >= 5)
                    {
                        <h2 class="mb-0">Administración de cambios</h2>
                    }
                    else if (Global.session_usuario.user.Id_Rol == 2)
                    {
                        <h2 class="mb-0">Administración de cambios liderados</h2>
                    }
                    else if (Global.session_usuario.user.Id_Rol == 3)
                    {
                        <h1 class="mb-0">Responsabilidades de cambio</h1>
                    }
                </div>
            </div>
        </div>

        @if (Global.vista_adc != null && Global.vista_adc.Count() > 0)
        {
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Proyecto
                        </th>
                        <th>
                            Folio ADC
                        </th>
                        <th>
                            Lider
                        </th>
                        <th>
                            Avance ADC
                        </th>
                        @if (new List<int> { 2, 5, 6 }.Contains(Global.session_usuario.user.Id_Rol))
                        {
                            <th style="width:10%;"></th>
                        }
                        <th style="width:10%;"></th>
                        @if (new List<int> { 5, 6 }.Contains(Global.session_usuario.user.Id_Rol))
                        {
                            <th style="width:10%;"></th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Global.vista_adc)
                    {
                        <tr>
                            <td>
                                @(item.proyecto)
                            </td>
                            <td>
                                @(item.adc.Folio)
                            </td>
                            <td>
                                @(item.lider)
                            </td>
                            <td>
                                @(Global.resumenADC.Where(r => r.id_proyecto == item.id_proyecto && r.id_adc == item.adc.Id_ADC).FirstOrDefault().avance_ADC)%
                            </td>

                            @if (new List<int> { 2, 5, 6 }.Contains(Global.session_usuario.user.Id_Rol))
                            {
                                <td style="width:10%; ">
                                    <button class="btn btn-dark" title="Detalles"
                                            data-toggle="modal" data-target="#administrarADC-modal" data-url="@Url.Action($"Edit/{item.adc.Id_ADC}")">
                                        <span>Administrar</span>
                                    </button>
                                </td>
                            }
                            <td style="width:10%;">
                                <a class="btn btn-dark form-control" asp-action="Tareas" asp-route-id="@item.adc.Id_ADC">Tareas</a>
                            </td>
                            @if (new List<int> { 5, 6 }.Contains(Global.session_usuario.user.Id_Rol))
                            {
                                <td style="width:10%;">
                                    <button class="btn btn-round" title="Eliminar"
                                            data-toggle="modal" data-target="#eliminarADC-modal" data-url="@Url.Action($"Delete/{item.adc.Id_ADC}")">
                                        <span data-title="" class="material-icons">delete</span>
                                    </button>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="card card-note">

                <div class="card-body">
                    <p>No hay ADCs registrados</p>
                </div>
            </div>
        }

    </div>
</div>

