
@{
    ViewData["Title"] = "Index";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">ADC</li>

            </ol>
        </nav>

        <div class="dropdown">
            <button class="btn btn-round" role="button" title="@(Global.session_usuario.nombre_completo)" data-toggle="dropdown" aria-expanded="false">
                <img alt="Image" src="~/assets/img/user.jpeg" class="avatar" />
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-header text-dark text-uppercase">@(Global.session_usuario.Rol)</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="AccountSettings">Configuración de la cuenta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" asp-controller="Home" asp-action="LogOut">Cerrar sesión</a>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    @if (Global.session_usuario.user.Id_Rol >= 5)
                    {
                        <h3 class="mb-0">Administraciónes de cambio</h3>
                    }
                    else if (Global.session_usuario.user.Id_Rol == 2)
                    {
                        <h3 class="mb-0">Administraciónes de cambio liderados</h3>
                    }
                    else if (Global.session_usuario.user.Id_Rol == 3)
                    {
                        <h3 class="mb-0">Responsabilidades de cambio</h3>
                    }


                </div>
            </div>

        </div>
        @if (Global.vista_adc.Count() > 0)
        {
            <table id="tblData" class="table table-bordered table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Proyecto
                        </th>
                        <th>
                            Folio ADC
                        </th>
                        <th>
                            Lider
                        </th>
                        @if (new List<int> { 2, 5, 6 }.Contains(Global.session_usuario.user.Id_Rol))
                        {
                            <th style="width:10%;"></th>
                        }
                        <th style="width:10%;"></th>
                        @if (new List<int> { 5, 6 }.Contains(Global.session_usuario.user.Id_Rol))
                        {
                            <th style="width:10%;"></th>
                        }

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Global.vista_adc)
                    {
                        @if (item.adc.Registro_Eliminado == 0)
                        {
                            <tr>
                                <td>
                                    @(item.proyecto)
                                </td>
                                <td>
                                    @(item.adc.Folio)
                                </td>
                                <td>
                                    @(item.lider)
                                </td>

                                @if (new List<int> { 2, 5, 6 }.Contains(Global.session_usuario.user.Id_Rol))
                                {
                                    <td style="width:10%;">
                                        <a class="btn btn-dark form-control" asp-action="Edit" asp-route-id="@item.adc.Id_ADC">Administrar</a>
                                    </td>
                                }
                                <td style="width:10%;">
                                    <a class="btn btn-dark form-control" asp-action="Tareas" asp-route-id="@item.adc.Id_ADC">Tareas</a>
                                </td>
                                @if (new List<int> { 5, 6 }.Contains(Global.session_usuario.user.Id_Rol))
                                {
                                    <td style="width:10%;">
                                        <a class="btn btn-danger form-control" asp-action="Delete" asp-route-id="@item.adc.Id_ADC">Eliminar</a>
                                    </td>
                                }



                            </tr>
                        }

                    }
                </tbody>
            </table>
        }
        else
        {
            <label class="control-label">No hay ADCs registrados</label>
        }

    </div>
</div>
