@model SistemaCenagas.Models.ADC_Procesos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ADC_Procesos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Actividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Actividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_ADC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_ADC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faltante_Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faltante_Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plan_Accion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plan_Accion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_Proceso">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
