@model IEnumerable<SistemaCenagas.Models.ADC_Procesos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_ADC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faltante_Comentarios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plan_Accion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Actividad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_ADC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faltante_Comentarios)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan_Accion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Proceso">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Proceso">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Proceso">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
