
@{
    ViewData["Title"] = "Index";
    Global global = (Global)ViewBag.global;
    int resp = global.RESPONSABLE_ADC;
    int lider = global.LIDER_EQUIPO_VERIFICADOR;
    int ev = global.EQUIPO_VERIFICADOR;
    int admin = global.ADMINISTRADOR;
    int super = global.SUPERADMIN;
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                @if (global.session_usuario.user.Id == global.adc.adc.Id_ProponenteCambio)
                {
                    <li class="breadcrumb-item">
                        <a asp-controller="ADC_Usuario" asp-action="Index">ADC</a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a asp-controller="ADC_Admin" asp-action="Index">ADC</a>
                    </li>
                }
                <li class="breadcrumb-item active" aria-current="page">Tareas</li>

            </ol>
        </nav>

        <div class="dropdown">
            <button class="btn btn-round" role="button" title="@(User.FindFirst("NombreCompleto").Value)" data-toggle="dropdown" aria-expanded="false">
                <img alt="Image" src="~/assets/img/user.jpeg" class="avatar" />
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-header text-dark text-uppercase">@(User.FindFirst("Rol").Value)</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="AccountSettings">Configuración de la cuenta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" asp-controller="Home" asp-action="LogOut">Cerrar sesión</a>

            </div>
        </div>

    </div>
    <div style="padding-left:10px; padding-right:10px;">

        <div id="PlaceHolderHere"></div>

        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">Tareas para la administración de cambio</h3>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <dl class="row">
                            <dt class="col-sm-3">
                                Residencia:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.anexo1.residencia)
                            </dd>
                            <dt class="col-sm-3">
                                Proyecto:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.anexo1.proyecto)
                            </dd>
                            <dt class="col-sm-3">
                                Instalación/Área:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.anexo1.instalacion)
                            </dd>
                            <dt class="col-sm-3">
                                Tipo de cambio:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.anexo1.anexo1.Tipo_Cambio)
                            </dd>
                            <dt class="col-sm-3">
                                No. de Folio ADC:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.adc.adc.Folio)
                            </dd>
                            <dt class="col-sm-3">
                                Proponente del cambio:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.adc.proponente)
                            </dd>
                            <dt class="col-sm-3">
                                Responsable de la ADC:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.adc.responsable)
                            </dd>
                            <dt class="col-sm-3">
                                Suplente:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.adc.suplente)
                            </dd>
                            <dt class="col-sm-3">
                                Líder:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.adc.lider)
                            </dd>
                            <dt class="col-sm-3">
                                Fecha de actualización:
                            </dt>
                            <dd class="col-sm-9">
                                @(global.adc.adc.Fecha_Actualizacion)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>

        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th style="width:5%;">
                        ID
                    </th>
                    <th style="width:20%;">
                        Actividad
                    </th>
                    <th style="width:5%;">
                        Avance
                    </th>
                    <th style="width:20%;">
                        Faltante, Comentarios
                    </th>
                    <th style="width:20%;">
                        Plan de acción
                    </th>
                    <th style="width:5%;">Terminado</th>
                    <th style="width:5%;">Confirmado</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
                </tr>
            </thead>



            <tbody>

                @foreach (var actividad in global.vista_tareas)
                {
                    <tr>
                        <td>
                            @(actividad.proceso.Id_Actividad)
                        </td>
                        <td>
                            @if (actividad.actividad.Id == 1 ||
                               (global.vista_tareas.ElementAt(actividad.actividad.Id - 2).proceso.Confirmado.Equals("true") &&
                                global.vista_tareas.ElementAt(actividad.actividad.Id - 2).proceso.Terminado.Equals("true")))
                            {
                                <a asp-action="Normativas" asp-route-id="@(actividad.proceso.Id_Actividad)">
                                    @(actividad.actividad.Actividad)
                                </a>
                            }
                            else
                            {
                                <a>
                                    @(actividad.actividad.Actividad)
                                </a>
                            }

                        </td>
                        <td>
                            @(actividad.proceso.Avance) %
                        </td>
                        <td>
                            @(actividad.proceso.Faltante_Comentarios)
                        </td>
                        <td>
                            @(actividad.proceso.Plan_Accion)
                        </td>
                        <td>@(actividad.proceso.Terminado.Equals("true")?"Si":"No")</td>
                        <td>@(actividad.proceso.Confirmado.Equals("true") ? "Si" : "No")</td>
                        <td>
                            @if (actividad.proceso.Terminado.Equals("true") && actividad.proceso.Confirmado.Equals("true"))
                            {
                                <span style="height: 25px; width: 25px; background-color: green; border-radius: 50%; display: inline-block;"></span>
                            }
                            @if ((actividad.proceso.Terminado.Equals("true") && actividad.proceso.Confirmado.Equals("false")) ||
                              actividad.proceso.Terminado.Equals("false") && actividad.proceso.Confirmado.Equals("true"))
                            {
                                <span style="height: 25px; width: 25px; background-color: darkorange; border-radius: 50%; display: inline-block;"></span>
                            }
                            @if (actividad.proceso.Terminado.Equals("false") && actividad.proceso.Confirmado.Equals("false"))
                            {
                                <span style="height: 25px; width: 25px; background-color: red; border-radius: 50%; display: inline-block;"></span>
                            }

                        </td>

                        
                        <td>
                            @if (actividad.actividad.Id == 1 ||
                        (global.vista_tareas.ElementAt(actividad.actividad.Id - 2).proceso.Confirmado.Equals("true") &&
                         global.vista_tareas.ElementAt(actividad.actividad.Id - 2).proceso.Terminado.Equals("true")))
                            {

                                if ((actividad.actividad.Id == 1 && new List<int> { super, admin, resp, global.adc.adc.Id_ProponenteCambio }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 2 && new List<int> { super, admin, resp }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 3 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 4 && new List<int> { super, admin, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 5 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 6 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 7 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 8 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 9 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)))
                                {
                                    <button class="btn btn-round" title="Editar actividad"
                                            data-toggle="modal" data-target="#editarProceso-modal" data-url="@Url.Action($"Edit/{actividad.proceso.Id}")">
                                        <span class="material-icons">edit</span>
                                    </button>
                                }


                            }
                        </td>
                        <td>
                            @if (actividad.actividad.Id == 1 ||
                          (global.vista_tareas.ElementAt(actividad.actividad.Id - 2).proceso.Confirmado.Equals("true") &&
                           global.vista_tareas.ElementAt(actividad.actividad.Id - 2).proceso.Terminado.Equals("true")))
                            {
                                if ((actividad.actividad.Id == 1 && new List<int> { super, admin, resp, global.adc.adc.Id_ProponenteCambio }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 2 && new List<int> { super, admin, resp }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 3 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 4 && new List<int> { super, admin, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 5 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 6 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 7 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 8 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 9 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)))
                                {
                                    <button class="btn btn-round" title="Gestionar archivos"
                                            data-toggle="modal" data-target="#archivoProceso-modal" data-url="@Url.Action($"Archivos/{actividad.proceso.Id}")">
                                        <span class="material-icons">attach_file</span>
                                    </button>
                                }
                                
                            }

                        </td>
                        <td>
                            @if (actividad.actividad.Id == 1 ||
             (global.vista_tareas.ElementAt(actividad.actividad.Id - 2).proceso.Confirmado.Equals("true") &&
              global.vista_tareas.ElementAt(actividad.actividad.Id - 2).proceso.Terminado.Equals("true")))
                            {
                                if ((actividad.actividad.Id == 1 && new List<int> { super, admin, resp, global.adc.adc.Id_ProponenteCambio }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 2 && new List<int> { super, admin, resp }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 3 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 4 && new List<int> { super, admin, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 5 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 6 && new List<int> { super, admin, resp }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 7 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)) ||
                                   (actividad.actividad.Id == 8 && new List<int> { super, admin, resp, lider, ev }.Contains(global.session_usuario.user.Id)))
                                {
                                    @if (actividad.actividad.Id == 1)
                                    {
                                        <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 1).FirstOrDefault().Nombre)"
                                                data-toggle="modal" data-target="#editarAnexo1-modal" data-url="@Url.Action($"Edit/{global.adc.adc.Id}", "ADC_Anexo1")">
                                            <span class="material-icons">exit_to_app</span>
                                        </button>
                                    }
                                    @if (actividad.actividad.Id == 2)
                                    {

                                        if (ViewBag.anexo3_action == "create")
                                        {
                                            <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 3).FirstOrDefault().Nombre)"
                                                    data-toggle="modal" data-target="#crearAnexo3-modal" data-url="@Url.Action($"CrearAnexo3/{global.adc.adc.Id}")">
                                                <span class="material-icons">exit_to_app</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 3).FirstOrDefault().Nombre)"
                                                    data-toggle="modal" data-target="#editarAnexo3-modal" data-url="@Url.Action($"Edit/{global.adc.adc.Id}", "ADC_Anexo3")">
                                                <span class="material-icons">exit_to_app</span>
                                            </button>
                                        }
                                    }
                                    @if (actividad.actividad.Id == 3)
                                    {

                                        <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 3).FirstOrDefault().Nombre)"
                                                data-toggle="modal" data-target="#editarAnexo3-modal" data-url="@Url.Action($"Edit2/{global.adc.adc.Id}", "ADC_Anexo3")">
                                            <span class="material-icons">exit_to_app</span>
                                        </button>
                                    }
                                    @if (actividad.actividad.Id == 4)
                                    {

                                        <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 3).FirstOrDefault().Nombre)"
                                                data-toggle="modal" data-target="#editarAnexo3-modal" data-url="@Url.Action($"Edit3/{global.adc.adc.Id}", "ADC_Anexo3")">
                                            <span class="material-icons">exit_to_app</span>
                                        </button>
                                    }
                                    @if (actividad.actividad.Id == 5)
                                    {

                                        <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 3).FirstOrDefault().Nombre)"
                                                data-toggle="modal" data-target="#editarAnexo3-modal" data-url="@Url.Action($"Edit4/{global.adc.adc.Id}", "ADC_Anexo3")">
                                            <span class="material-icons">exit_to_app</span>
                                        </button>
                                    }
                                    @if (actividad.actividad.Id == 6)
                                    {
                                        <a class="btn btn-round form-control" title="Iniciar pre-arranque"
                                           asp-action="Create2" asp-controller="PreArranque_Anexo2">
                                            <span class="material-icons">exit_to_app</span>
                                        </a>
                                    }
                                    @if (actividad.actividad.Id == 7)
                                    {
                                        <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 4).FirstOrDefault().Nombre)"
                                                data-toggle="modal" data-target="#editarAnexo4-modal" data-url="@Url.Action($"Edit/{global.adc.adc.Id}", "ADC_Anexo4")">
                                            <span class="material-icons">exit_to_app</span>
                                        </button>
                                    }
                                    @if (actividad.actividad.Id == 8)
                                    {
                                        <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 5).FirstOrDefault().Nombre)"
                                                data-toggle="modal" data-target="#editarAnexo4-modal" data-url="@Url.Action($"Edit/{global.adc.adc.Id}", "ADC_Anexo5")">
                                            <span class="material-icons">exit_to_app</span>
                                        </button>
                                        <br />

                                        <button class="btn btn-round" title="@(global.anexos.Where(a=>a.Id == 6).FirstOrDefault().Nombre)"
                                                data-toggle="modal" data-target="#editarAnexo4-modal" data-url="@Url.Action($"Edit/{global.adc.adc.Id}", "ADC_Anexo6")">
                                            <span class="material-icons">exit_to_app</span>
                                        </button>
                                    }
                                }


                            }
                        </td>
                        <!--td style="width:15%;">
                            <a class="btn btn-round form-control" title="Descargar reporte" asp-action="Anexo1_Descargar" asp-route-idADC="@(global.adc.adc.Id)">
                                <span class="material-icons">get_app</span>
                            </a>
                        </td-->
                    </tr>
                }


            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <label style="color:red;">Avance total:</label>
                    </td>
                    <td>
                        <label style="color:red;"><b>@(ViewBag.avance_total / global.vista_tareas.Count()) %</b></label>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
