
@{
    ViewData["Title"] = "Index";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                @if (Global.session_usuario.user.Id_Usuario == Global.adc.adc.Id_ProponenteCambio)
                {
                    <li class="breadcrumb-item">
                        <a asp-controller="ADCUsuario" asp-action="Index">ADC</a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a asp-controller="ADCAdmin" asp-action="Index">ADC</a>
                    </li>
                }
                <li class="breadcrumb-item active" aria-current="page">Tareas</li>

            </ol>
        </nav>

        <div class="dropdown">
            <button class="btn btn-round" role="button" title="@(Global.session_usuario.nombre_completo)" data-toggle="dropdown" aria-expanded="false">
                <img alt="Image" src="~/assets/img/user.jpeg" class="avatar" />
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-header text-dark text-uppercase">@(Global.session_usuario.Rol)</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="AccountSettings">Configuración de la cuenta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" asp-controller="Home" asp-action="LogOut">Cerrar sesión</a>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">Tareas para la administración de cambio</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <dl class="row">
                            <dt class="col-sm-3">
                                Residencia:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.anexo1.residencia)
                            </dd>
                            <dt class="col-sm-3">
                                Proyecto:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.anexo1.proyecto)
                            </dd>
                            <dt class="col-sm-3">
                                Instalación/Área:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.anexo1.gasoducto)
                            </dd>
                            <dt class="col-sm-3">
                                Tipo de cambio:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.anexo1.anexo1.Tipo_Cambio)
                            </dd>
                            <dt class="col-sm-3">
                                No. de Folio ADC:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.adc.adc.Folio)
                            </dd>
                            <dt class="col-sm-3">
                                Proponente del cambio:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.adc.proponente)
                            </dd>
                            <dt class="col-sm-3">
                                Responsable de la ADC:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.adc.responsable)
                            </dd>
                            <dt class="col-sm-3">
                                Suplente:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.adc.suplente)
                            </dd>
                            <dt class="col-sm-3">
                                Líder:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.adc.lider)
                            </dd>
                            <dt class="col-sm-3">
                                Fecha de actualización:
                            </dt>
                            <dd class="col-sm-9">
                                @(Global.adc.adc.Fecha_Actualizacion)
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-responsive-xl">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Actividad
                    </th>
                    <th>
                        Avance
                    </th>
                    <th>
                        Faltante, Comentarios
                    </th>
                    <th>
                        Plan de acción
                    </th>
                    <th style="width:15%;"></th>
                    <th style="width:15%;"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a asp-action="Normativas" asp-route-id="@(Global.vista_tareas.ElementAt(0).proceso.Id_Actividad)">
                            @(Global.vista_tareas.ElementAt(0).actividad)
                        </a>
                    </td>
                    <td>
                        @(Global.vista_tareas.ElementAt(0).proceso.Avance) %
                    </td>
                    <td>
                        @(Global.vista_tareas.ElementAt(0).proceso.Faltante_Comentarios)
                    </td>
                    <td>
                        @(Global.vista_tareas.ElementAt(0).proceso.Plan_Accion)
                    </td>
                    <td style="width:15%;">
                        <a class="btn btn-dark form-control" asp-action="Edit" asp-route-id="@(Global.vista_tareas.ElementAt(0).proceso.Id_Proceso)">Editar</a>
                    </td>
                    <td style="width:15%;">
                        <a class="btn btn-dark form-control" asp-controller="Anexo1" asp-action="Edit" asp-route-id="@(Global.adc.adc.Id_ADC)">Anexo 1</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="color:red;">Avance total:</label>
                    </td>
                    <td>
                        <label style="color:red;"><b>@(ViewBag.avance_total / Global.vista_tareas.Count()) %</b></label>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td style="width:15%;">
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
