@model SistemaCenagas.Models.ADC

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ADC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Proyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Proyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_ResponsableADC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_ResponsableADC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Suplente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Suplente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Lider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Lider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Actualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Actualizacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_ADC" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
