@model SistemaCenagas.Models.ADC

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ADC</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Proyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Proyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_ResponsableADC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_ResponsableADC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Suplente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Suplente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Lider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Lider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Actualizacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Actualizacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_ADC">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
