
@{
    ViewData["Title"] = "Index";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">ADC</li>

            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.session_usuario.user.Titulo + " " + Global.session_usuario.user.Nombre + " | " + Global.session_usuario.Rol)
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">Administración de cambios</h3>
                </div>
            </div>

        </div>
        @if (Global.vista_adc.Count() > 0)
        {
            <table id="tblData" class="table table-bordered table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Proyecto
                        </th>
                        <th>
                            Folio ADC
                        </th>
                        <th>
                            Lider
                        </th>
                        <th style="width:10%;"></th>
                        <th style="width:10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Global.vista_adc)
                    {
                        @if (item.adc.Registro_Eliminado == 0)
                        {
                            <tr>
                                <td>
                                    @(item.proyecto)
                                </td>
                                <td>
                                    @(item.adc.Folio)
                                </td>
                                <td>
                                    @(item.lider)
                                </td>
                                <td style="width:10%;">
                                    <a class="btn btn-dark form-control" asp-action="ADC" asp-route-id="@item.adc.Id_ADC">Tareas</a>
                                </td>
                                <td style="width:10%;">
                                    <a class="btn btn-danger form-control" asp-action="Delete" asp-route-id="@item.adc.Id_ADC">Eliminar</a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        }
        else
        {
            <label class="control-label">No hay proyectos registrados</label>
        }

    </div>
</div>
