@model AppCenagas_v2.Models.DetalleProyecto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DetalleProyecto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProyecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdResidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdResidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAsignacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAsignacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoDesarrollo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoDesarrollo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desarrollo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desarrollo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionActividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionActividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaltanteComentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaltanteComentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanAccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanAccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anexos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anexos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoProyecto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoProyecto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDetalleProyecto">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
