@model SistemaCenagas.Models.Anexo1

@{
    ViewData["Title"] = "Create";
}

<div class="modal fade" tabindex="-1" role="dialog" id="nuevoADC-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    @(Global.anexos.Where(a => a.Id_Anexo == 1).FirstOrDefault().Nombre):
                    <br />
                    @(Global.proyectos.Nombre)
                </h6>               
                <a asp-controller="ADCProyecto" asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Registro_Eliminado" value="0" />
                    <input type="hidden" asp-for="Id_Proyecto" value="@(Global.proyectos.Id_Proyecto)" />
                    <input type="hidden" asp-for="Fecha" value="@(ViewBag.fecha)" />

                    <div class="form-group row align-items-center">
                        <label asp-for="Tipo_Cambio" class="col-2" style="text-align:right;">Tipo de cambio</label>
                        <div class="col">
                            <select asp-for="Tipo_Cambio" class="form-control" required>
                                <option>Temporal</option>
                                <option>Permanente</option>
                                <option>Pre arranque</option>
                            </select>
                        </div>
                        <span asp-validation-for="Tipo_Cambio" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Fecha" class="col-2" style="text-align:right;"></label>
                        <div class="col">
                            <input type="text" asp-for="Fecha" value="@(ViewBag.fecha)" class="form-control" disabled />
                        </div>
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Id_Residencia" class="col-2" style="text-align:right;">Ducto</label>
                        <div class="col">
                            <select id="Residencia" asp-for="Id_Residencia" class="form-control" required>
                                <option value="-1">--- Selecciona una opción ---</option>
                                @foreach (var item in Global.residencias)
                                {
                                    <option value="@(item.Id_Residencia)">@(item.Nombre)</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Id_Residencia" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Ut_Gasoducto" class="col-2" style="text-align:right;">Tramo</label>
                        <div class="col">
                            <select id="Gasoducto" asp-for="Ut_Gasoducto" class="form-control" required>
                                <option>--- Selecciona una opción ---</option>
                            </select>
                        </div>
                        <span asp-validation-for="Ut_Gasoducto" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Ut_Tramo" class="col-2" style="text-align:right;">Instalación</label>
                        <div class="col">
                            <select id="Tramo" asp-for="Ut_Tramo" class="form-control" required>
                                <option>--- Selecciona una opción ---</option>
                            </select>
                        </div>
                        <span asp-validation-for="Ut_Tramo" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Proceso" class="col-2" style="text-align:right;">
                            Proceso, maquinaria o equipo por modificar
                        </label>
                        <div class="col">
                            <textarea type="text" asp-for="Proceso" class="form-control" required></textarea>
                        </div>
                        <span asp-validation-for="Proceso" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Prestacion_Servicio" class="col-2" style="text-align:right;">
                            Prestación del servicio de la maquinaria o equipo
                        </label>
                        <div class="col">
                            <textarea type="text" asp-for="Prestacion_Servicio" class="form-control" required></textarea>
                        </div>
                        <span asp-validation-for="Prestacion_Servicio" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Descripcion" class="col-2" style="text-align:right;">
                            Descripción del cambio propuesto, indicando las razones del mismo
                        </label>
                        <div class="col">
                            <textarea type="text" asp-for="Descripcion" class="form-control" required></textarea>
                        </div>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">

                        <button type="submit" role="button" class="btn btn-success">
                            Crear
                        </button>
                        <a class="btn btn-dark" asp-controller="ADCProyecto" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
