
@{
    ViewData["Title"] = "Index";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Mis proyectos</li>

            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.usuario.Titulo + " " + Global.usuario.Nombre + " | " + (Global.usuario.Rol != null ? Global.usuario.Rol : "Sin asignación"))
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h2 class="mb-0">Mis proyectos a cargo</h2>
                </div>
            </div>

        </div>
        @if (Global.vistaProyectos.Count() > 0)
        {
            <table id="tblData" class="table table-bordered table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Clave
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var vp in Global.vistaProyectos)
                    {
                    <tr>
                        <td>
                            @(vp.clave)
                        </td>
                        <td>
                            @(vp.nombre)
                        </td>
                        <td>
                            @(vp.descripcion)
                        </td>
                        <td>
                            <a class="btn btn-dark form-control" asp-action="SolicitudesCambio"
                               asp-route-id="@(vp.id_proyecto)">Solicitudes de cambio</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

        }
        else
        {
            <label class="control-label">No hay proyectos registrados</label>
        }

    </div>
</div>
