@model IEnumerable<AppCenagas_v2.Models.Empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" stykle="width:100%;">
    <div class="col-6">
        <h2 class="text-primary">Lista de Empleados</h2>
    </div>
    <div class="col-4 text-right">
        <a class="btn btn-primary form-control" asp-controller="Empleado" asp-action="Create">Crear Nuevo Empleado</a>
    </div>
</div>

<!--Aquí inicia mi DataTable-->
<div class="p-4 border rounded bg-light">
    <table id="tblData" class="table table-bordered table-responsive-xl">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paterno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Materno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Observaciones)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    <a class="btn btn-success form-control" asp-action="Edit" asp-route-id="@item.Idempleado">Editar</a>                    
                </td>
                <td>                    
                    <a class="btn btn-primary form-control" asp-action="Details" asp-route-id="@item.Idempleado">Detalles</a>                    
                </td>
                <td>                    
                    <a class="btn btn-danger form-control" asp-action="Delete" asp-route-id="@item.Idempleado">Eliminar</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

