@model SistemaCenagas.Models.Proyectos

@{
    ViewData["Title"] = "Details";
    Global global = (Global)ViewBag.global;
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="ProyectosAdmin" asp-action="Index">Proyectos</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Detalles</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(global.session_usuario.user.Titulo + " " + global.session_usuario.user.Nombre + " | " + global.session_usuario.Rol)
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">Detalles proyecto</h3>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <dl class="row">
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Clave)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Clave)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Nombre)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Nombre)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Descripcion)
                            </dd>
                            <hr>
                        </dl>

                        <div>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
                            <a class="btn btn-info" asp-action="Index">Regresar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>