
@{
    ViewData["Title"] = "Index";
    Global global = (Global)ViewBag.global;
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Anexo 1</li>

            </ol>
        </nav>

        <div class="dropdown">
            <button class="btn btn-round" role="button" title="@(global.session_usuario.nombre_completo)" data-toggle="dropdown" aria-expanded="false">
                <img alt="Image" src="~/assets/img/user.jpeg" class="avatar" />
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-header text-dark text-uppercase">@(global.session_usuario.Rol)</a>
                <a class="dropdown-item" asp-controller="Home" asp-action="AccountSettings">Configuración de la cuenta</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" asp-controller="Home" asp-action="LogOut">Cerrar sesión</a>

            </div>
        </div>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">Proyectos de CENAGAS</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-primary form-control" asp-action="Create">Nuevo proyecto</a>
                </div>
            </div>

        </div>
        @if (global.vista_proyectos.Count() > 0)
        {
            <table id="tblData" class="table table-bordered table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Clave
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Descripción
                        </th>
                        <th style="width:10%;"></th>
                        <th style="width:10%;"></th>
                        <th style="width:10%;"></th>
                        <th style="width:10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in global.vista_proyectos)
                    {
                        @if (item.Eliminado == 0)
                        {
                            <tr>
                                <td>
                                    @(item.Clave)
                                </td>
                                <td>
                                    @(item.Nombre)
                                </td>
                                <td>
                                    @(item.Descripcion)
                                </td>
                                <td style="width:10%;">
                                    <a class="btn btn-dark form-control" asp-action="ADC" asp-route-id="@item.Id">ADC</a>
                                </td>
                                <td style="width:10%;">
                                    <a class="btn btn-dark form-control" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                </td>
                                <td style="width:10%;">
                                    <a class="btn btn-primary form-control" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                                </td>
                                <td style="width:10%;">
                                    <a class="btn btn-danger form-control" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
            </table>
        }
        else
        {
            <label class="control-label">No hay proyectos registrados</label>
        }

    </div>
</div>
