@model SistemaCenagas.Models.ADC_Anexo3Model_EquipoVerificador

@{
    ViewData["Title"] = "Edit";
}

<div class="modal fade" tabindex="-1" role="dialog" id="editarAnexo3-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    @(Global.anexos.Where(a => a.Id == 3).FirstOrDefault().Nombre):
                    <br />
                    @(Global.proyectos.Nombre)
                </h6>
                <a asp-controller="ADC_Procesos" asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="anexo3.Fecha_Registro" />
                    <input type="hidden" asp-for="anexo3.Id_Anexo1" />
                    <input type="hidden" asp-for="anexo3.Id_Anexo2" />
                    <input type="hidden" asp-for="anexo3.Id" />
                    <input type="hidden" asp-for="anexo3.Id_Responsable_ADC" />
                    <input type="hidden" asp-for="anexo3.Id_Director_Seguridad_Industrial" />
                    <input type="hidden" asp-for="anexo3.Id_Director_Ejecutivo_Mantenimiento_y_Seguridad" />
                    <input type="hidden" asp-for="anexo3.Id_Director_Ejecutivo_Operacion" />

                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="project-add-details-tab" data-toggle="tab" href="#project-add-details" role="tab" aria-controls="project-add-details" aria-selected="true">Detalles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="equipo-verificador-tab" data-toggle="tab" href="#equipo-verificador" role="tab" aria-controls="equipo-verificador" aria-selected="false">Equipo verificador</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Folio ADC</label>
                                <div class="col">
                                    <input type="text" value="@(ViewBag.folio)" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label asp-for="anexo3.Fecha_Registro" class="col-2" style="text-align:right;">Fecha registro</label>
                                <div class="col">
                                    <input type="text" asp-for="anexo3.Fecha_Registro" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="anexo3.Fecha_Registro" class="text-danger"></span>
                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Tipo de ADC</label>
                                <div class="col">
                                    <input type="text" value="@(ViewBag.TipoCambio1)" class="form-control" disabled />
                                    <select asp-for="anexo3.Tipo_ADC" class="form-control" required>
                                        <option>Nuevo</option>
                                        <option>Rehabilitado</option>
                                        <option>Modificado</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Residencia</label>
                                <div class="col">
                                    <input type="text" value="@(ViewBag.residencia)" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label asp-for="anexo3.Fecha_Registro" class="col-2" style="text-align:right;">Modificaciones</label>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Equipo" class="form-check-input" type="checkbox">
                                        <label class="form-check-label">Equipo</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Instrumento" class="form-check-input" type="checkbox" id="inlineCheckbox1">
                                        <label class="form-check-label">Instrumento</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Componente_o_Dispositivo" class="form-check-input" type="checkbox" id="inlineCheckbox2">
                                        <label class="form-check-label">Componente o dispositivo</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Valvula" class="form-check-input" type="checkbox">
                                        <label class="form-check-label">Válvula</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Accesorio_o_Ducto" class="form-check-input" type="checkbox" id="inlineCheckbox2">
                                        <label class="form-check-label">Accesorio unido al Ducto</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Estacion_Compresion" class="form-check-input" type="checkbox" id="inlineCheckbox2">
                                        <label class="form-check-label">Estación de Compresión</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Estacion_Medicion_y_Regulacion" class="form-check-input" type="checkbox">
                                        <label class="form-check-label">Estación de Medición y Regulación</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Trampa_Envios_y_Recibo_Diablos" class="form-check-input" type="checkbox" id="inlineCheckbox2">
                                        <label class="form-check-label">Trampa de envios y recibo de diablos</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input asp-for="anexo3.Otro_Elemento" class="form-check-input" type="checkbox" id="inlineCheckbox2">
                                        <label class="form-check-label">Otro</label>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">No. de identificación del proceso, maquinaria o equipo:</label>
                                <div class="col">
                                    <input asp-for="anexo3.Numero_Identificacion" type="text" class="form-control" required />
                                </div>
                                <span asp-validation-for="anexo3.Numero_Identificacion" class="text-danger"></span>
                            </div>

                            <hr>
                        </div>

                        <div class="tab-pane fade" id="equipo-verificador" role="tabpanel">
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Lider del equipo verificador</label>
                                <div class="col">
                                    <input type="text" value="@(ViewBag.liderEV)" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="users-manage" data-filter-list="form-group-users">
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="material-icons">filter_list</i>
                                        </span>
                                    </div>
                                    <input type="search" class="form-control filter-list-input" placeholder="Buscar usuarios" aria-label="Filter Members">
                                </div>
                                <div class="form-group-users">

                                    @for (int i = 0; i < Global.vista_usuarios.Count(); i++)
                                    {

                                        <div class="custom-control custom-checkbox">
                                            <input type="hidden" asp-for="idMiembro[i]" value="@(Global.vista_usuarios.ElementAt(i).user.Id)" />
                                            <input asp-for="miembros[i]" type="checkbox" class="custom-control-input" id="project-user-@(Global.vista_usuarios.ElementAt(i).user.Id)">
                                            <label class="custom-control-label" for="project-user-@(Global.vista_usuarios.ElementAt(i).user.Id)">
                                                <span class="d-flex align-items-center">
                                                    <img alt="Claire Connors" src="~/assets/img/user.jpeg" class="avatar mr-2" />
                                                    <span class="h6 mb-0" data-filter-by="text">
                                                        @(Global.vista_usuarios.ElementAt(i).user.Email)
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    }
                                </div>
                                <br>
                                <hr>
                            </div>
                        </div>
                    </div>



                    <div class="modal-footer">

                        <button type="submit" role="button" class="btn btn-success">
                            Guardar
                        </button>
                        <a class="btn btn-dark" asp-controller="ADC_Procesos" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--script type="text/javascript" src="~/lib/jquery/dist/combo_cascada_edit.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
