@model SistemaCenagas.Models.PreArranqueModel_Crear

@{
    ViewData["Title"] = "Create";
}

<script>

    $("#Proyecto").change(function () {

        $("#FolioADC").empty();

        if ($("#Proyecto").val() != "-1") {
            $.ajax({
                type: "Post",
                url: "/PreArranque_Anexo2/getAdcPrearranque",
                data: { "idProyecto": $("#Proyecto").val() },
                success: function (response) {
                    var items = "";//"<option>--- Selecciona una opción ---</option>";
                    $(response).each(function () {
                        items += "<option value='" + this.value + "'>" + this.text + "</option>";
                    })
                    $("#FolioADC").html(items);
                },
                failure: function (response) {
                    alert("Failure: " + response.responseText);
                },
                error: function (response) {
                    alert("Error: " + response.responseText);
                }

            });
        }
    });

    $("#Residencia").change(function () {

        $("#Gasoducto").empty();
        $("#Tramo").empty();

        if ($("#Residencia").val() != "-1") {
            $.ajax({
                type: "Post",
                url: "/ADC_Anexo1/getGasoductos",
                data: { "id_residencia": $("#Residencia").val() },
                success: function (response) {
                    var items = "";//"<option>--- Selecciona una opción ---</option>";
                    $(response).each(function () {
                        items += "<option value='" + this.value + "'>" + this.text + "</option>";
                    })
                    $("#Gasoducto").html(items);
                },
                failure: function (response) {
                    alert("Failure: " + response.responseText);
                },
                error: function (response) {
                    alert("Error: " + response.responseText);
                }
    
            });
        }
    });

    $("#Gasoducto").change(function () {
        $("#Tramo").empty();
        if ($("#Gasoducto").val() != "--- Selecciona una opción ---") {
            $.ajax({
                type: "Post",
                url: "/ADC_Anexo1/getTramos",
                data: { "ut_gasoducto": $("#Gasoducto").val() },
                success: function (response) {
                    var items = "";//"<option>--- Selecciona una opción ---</option>";
                    $(response).each(function () {
                        items += "<option value='" + this.value + "'>" + this.text + "</option>";
                    })
                    $("#Tramo").html(items);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            });
        }

    });

    var update = function () {
        if ($("#AplicaADC").val() == "No") {

            $("#FolioADC").prop('disabled', 'disabled');
            $("#Residencia").removeAttr("disabled");
            $("#Gasoducto").removeAttr("disabled");
            $("#Tramo").removeAttr("disabled");
            $("#LiderEV").removeAttr("disabled");
            
            $("#div_Folio").attr('hidden', true);
            $("#div_Residencia").removeAttr("hidden");
            $("#div_Instalacion").removeAttr("hidden");
            $("#div_Tramo").removeAttr("hidden");
            $("#div_Lider").removeAttr("hidden");

            
        }
        else {
            
            $("#FolioADC").removeAttr("disabled");
            $("#Residencia").prop('disabled', 'disabled');
            $("#Gasoducto").prop('disabled', 'disabled');
            $("#Tramo").prop('disabled', 'disabled');
            $("#LiderEV").prop('disabled', 'disabled');
            

            $("#div_Folio").removeAttr("hidden");
            $("#div_Residencia").attr('hidden', true);
            $("#div_Instalacion").attr('hidden', true);
            $("#div_Tramo").attr('hidden', true);
            $("#div_Lider").attr('hidden', true);

            
        }
    };

    $(update);
    $("#AplicaADC").change(update);

</script>


<div class="modal fade" tabindex="-1" role="dialog" id="nuevoADC-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    Nuevo pre-arranque
                </h6>
                <a asp-controller="PreArranque_Admin" asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">
                <form asp-action="Create2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="preArranque.Fecha_Actualizacion" value="@(ViewBag.fecha)" />

                    <div class="form-group row align-items-center">
                        <label asp-for="preArranque.Id_Proyecto" class="col-2" style="text-align:right;">Proyecto</label>
                        <div class="col">
                            <select id="Proyecto" asp-for="preArranque.Id_Proyecto" class="form-control" required>
                                <option value="-1">--- Selecciona nececidad de cambio ---</option>
                                @foreach (var item in Global.lista_proyectos_prearranque)
                                {
                                    <option value="@(item.Id)">@(item.Nombre)</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="preArranque.Id_Proyecto" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Fecha</label>
                        <div class="col">
                            <input type="text" asp-for="preArranque.Fecha_Actualizacion" value="@(ViewBag.fecha)" class="form-control" disabled />
                        </div>
                        <span asp-validation-for="preArranque.Fecha_Actualizacion" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Aplica ADC</label>
                        <div class="col">
                            <select id="AplicaADC" asp-for="preArranque.Con_ADC" class="form-control" required>
                                <option>No</option>
                                <option>Si</option>
                            </select>
                        </div>
                        <span asp-validation-for="anexo2.Id_Residencia" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center" hidden id="div_Folio">
                        <label asp-for="preArranque.Id_ADC" class="col-2" style="text-align:right;">Folio ADC</label>
                        <div class="col">
                            <select id="FolioADC" asp-for="preArranque.Id_ADC" class="form-control" required>
                                
                            </select>
                        </div>
                        <span asp-validation-for="anexo2.Id_Residencia" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center" hidden id="div_Residencia">
                        <label asp-for="anexo2.Id_Residencia" class="col-2" style="text-align:right;">Residencia</label>
                        <div class="col">
                            <select id="Residencia" asp-for="anexo2.Id_Residencia" class="form-control" required>

                                @foreach (var item in Global.residencias)
                                {
                                    <option value="@(item.Id)">@(item.Nombre)</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="anexo2.Id_Residencia" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center" hidden id="div_Tramo">
                        <label asp-for="anexo2.Ut_Gasoducto" class="col-2" style="text-align:right;">Sistema de transporte</label>
                        <div class="col">
                            <select id="Gasoducto" asp-for="anexo2.Ut_Gasoducto" class="form-control" required>
                            </select>
                        </div>
                        <span asp-validation-for="anexo2.Ut_Gasoducto" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center" hidden id="div_Instalacion">
                        <label asp-for="anexo2.Ut_Tramo" class="col-2" style="text-align:right;">Tramo</label>
                        <div class="col">
                            <select id="Tramo" asp-for="anexo2.Ut_Tramo" class="form-control" required>
                            </select>
                        </div>
                        <span asp-validation-for="anexo2.Ut_Tramo" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center" hidden id="div_Lider">
                        <label asp-for="preArranque.Id_LiderEquipoVerificador" class="col-2" style="text-align:right;">Lider del equipo verificador</label>
                        <div class="col">
                            <select id="LiderEV" asp-for="preArranque.Id_LiderEquipoVerificador" class="form-control" required>
                                @foreach (var item in Global.lideres)
                                {
                                    <option value="@(item.Id)">@($"{item.Nombre} {item.Paterno} {item.Materno}")</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="preArranque.Id_LiderEquipoVerificador" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" role="button" class="btn btn-success">
                            Crear
                        </button>
                        <a class="btn btn-dark" asp-controller="PreArranque_Admin" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script-->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
