@model SistemaCenagas.Models.PreArranque_Anexo2_Seccion2_ElementosRevision_Model

@{
    ViewData["Title"] = "Edit_Seccion2_Elementos";
}

<div class="modal fade" tabindex="-1" role="dialog" id="editar-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    Editar subtarea de <b>@(Model.TareaPrincipal)</b>
                </h6>
                <a asp-action="Edit_Seccion2" asp-route-id="@(Global.prearranque.prearranque.Id)" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Edit_Seccion2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="elemento.Id" />
                    <input type="hidden" asp-for="elemento.Id_Anexo2_Seccion2" />

                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Elemento de revisión</label>
                        <div class="col">
                            <textarea type="text" asp-for="elemento.Elemento_Revision" class="form-control" required ></textarea>
                        </div>
                    </div>

                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Tipo de revisión</label>
                        <div class="col form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Revisión documental"
                                       @(Model.elemento.Tipo_Revision != null && Model.elemento.Tipo_Revision.Equals("Revisión documental") ? "checked='checked''" : "") name="tipoRevision" />
                                <label class="form-check-label">Revisión documental</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Revisión física"
                                       @(Model.elemento.Tipo_Revision != null && Model.elemento.Tipo_Revision.Equals("Revisión física") ? "checked='checked''" : "") name="tipoRevision" />
                                <label class="form-check-label">Revisión física</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Revisión documental y física"
                                       @(Model.elemento.Tipo_Revision != null && Model.elemento.Tipo_Revision.Equals("Revisión documental y física") ? "checked='checked''" : "") name="tipoRevision" />
                                <label class="form-check-label">Revisión documental y física</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Tipo de hallazgo</label>
                        <div class="col form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="A"
                                       @(Model.elemento.Tipo_Hallazgo != null && Model.elemento.Tipo_Hallazgo.Equals("A") ? "checked='checked''" : "") name="tipoHallazgo" />
                                <label class="form-check-label">A</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="B"
                                       @(Model.elemento.Tipo_Hallazgo != null && Model.elemento.Tipo_Hallazgo.Equals("B") ? "checked='checked''" : "") name="tipoHallazgo" />
                                <label class="form-check-label">B</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Atendido</label>
                        <div class="col form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="Si"
                                       @(Model.elemento.Atendido != null && Model.elemento.Atendido.Equals("Si") ? "checked='checked''" : "") name="atendido" />
                                <label class="form-check-label">Si</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="No"
                                       @(Model.elemento.Atendido != null && Model.elemento.Atendido.Equals("No") ? "checked='checked''" : "") name="atendido" />
                                <label class="form-check-label">No</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="N/A"
                                       @(Model.elemento.Atendido != null && Model.elemento.Atendido.Equals("N/A") ? "checked='checked''" : "") name="atendido" />
                                <label class="form-check-label">N/A</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row align-items-center">
                        <label class="col-2" style="text-align:right;">Observación</label>
                        <div class="col">
                            <textarea type="text" asp-for="elemento.Observacion" class="form-control" ></textarea>
                        </div>
                    </div>


                    <hr />

                    <div class="modal-footer">

                        <button type="submit" role="button" class="btn btn-success">
                            Guardar
                        </button>
                        <a class="btn btn-dark" asp-action="Edit_Seccion2" asp-route-id="@(Global.prearranque.prearranque.Id)">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--script type="text/javascript" src="~/lib/jquery/dist/combo_cascada_edit.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
