@model SistemaCenagas.Models.Model_ProyectoMiembro

@{
    ViewData["Title"] = "Details";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="ProyectosAdmin" asp-action="Index">Proyectos</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Detalles</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.session_usuario.user.Titulo + " " + Global.session_usuario.user.Nombre + " | " + Global.session_usuario.Rol)
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="row content-list-head">
                <div class="col-auto">
                    <h3>Detalles de proyecto</h3>

                    <a class="btn btn-round" asp-action="Edit" asp-route-id="@Model.proyecto.Id_Proyecto">
                        <i class="material-icons">edit</i>
                    </a>
                </div>
            </div>
        </div>

        
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->

                        <form asp-action="Edit">
                            <ul class="nav nav-tabs nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="project-add-details-tab" data-toggle="tab" href="#project-add-details" role="tab" aria-controls="project-add-details" aria-selected="true">Detalles</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="project-add-members-tab" data-toggle="tab" href="#project-add-members" role="tab" aria-controls="project-add-members" aria-selected="false">Miembros</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="proyecto.Id_Proyecto" />
                                    <input type="hidden" asp-for="proyecto.Clave" />
                                    <input type="hidden" asp-for="proyecto.Registro_Eliminado" />

                                    <div class="form-group row align-items-center">
                                        <label asp-for="proyecto.Clave" class="col-2" style="text-align:right;">Clave</label>
                                        <div class="col">
                                            <input type="text" asp-for="proyecto.Clave" class="form-control" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label asp-for="proyecto.Nombre" class="col-2" style="text-align:right;"></label>
                                        <div class="col">
                                            <input type="text" asp-for="proyecto.Nombre" class="form-control" disabled />
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label asp-for="proyecto.Descripcion" class="col-2" style="text-align:right;"></label>
                                        <div class="col">
                                            <textarea type="text" asp-for="proyecto.Descripcion" class="form-control" disabled></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label asp-for="proyecto.Estado_ADC" class="col-2" style="text-align:right;">Administración de cambios</label>
                                        <div class="col">
                                            <input type="text" asp-for="proyecto.Estado_ADC" class="form-control" disabled />
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                                <div class="tab-pane fade" id="project-add-members" role="tabpanel">
                                    <div class="users-manage" data-filter-list="form-group-users">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="material-icons">filter_list</i>
                                                </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input" placeholder="Buscar usuarios" aria-label="Filter Members">
                                        </div>
                                        <div class="form-group-users">
                                            @{
                                                int i = 0;
                                            }
                                            @foreach (var u in Global.miembrosProyecto)
                                            {

                                                <div class="custom-control custom-checkbox">
                                                    <label class="custom-control-label" for="project-user-@(u.pm.Id_Usuario)">
                                                        <span class="d-flex align-items-center">
                                                            <img alt="Claire Connors" src="~/assets/img/user.jpeg" class="avatar mr-2" />
                                                            <span class="h6 mb-0" data-filter-by="text">
                                                                @(u.nombre_miembro)
                                                            </span>
                                                        </span>
                                                    </label>
                                                </div>

                                                @(i++)
                                            }
                                        </div>
                                        <br>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="form-group row align-items-center">
                                <div class="col-5">
                                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.proyecto.Id_Proyecto">Editar</a>
                                    <a class="btn btn-dark" asp-action="Index">Regresar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>