@model SistemaCenagas.Models.Usuarios
@{
    ViewData["Title"] = "Index";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Usuarios</li>

            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.session_usuario.user.Titulo + " " + Global.session_usuario.user.Nombre + " | " + Global.session_usuario.Rol)
                </li>
            </ol>
        </nav>

    </div>

    <div id="PlaceHolderHere"></div>

    <div class="container" data-filter-list="dropzone-previews">
        <div class="page-header mb-4">
            <div class="row content-list-head">
                <div class="col-auto">
                    <h3>Usuarios</h3>

                    <button class="btn btn-round" data-title="Nuevo Usuario"
                            data-toggle="modal" data-target="#crear-usuario-modal" data-url="@Url.Action("Create")">
                        <i class="material-icons">add</i>
                    </button>
                </div>

                <form class="col-md-auto">
                    <div class="input-group input-group-round">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="material-icons">filter_list</i>
                            </span>
                        </div>
                        <input type="search" class="form-control filter-list-input" placeholder="Buscar registro" aria-label="Filter Tasks">
                    </div>
                </form>
            </div>
        </div>

        @if (Global.vista_usuarios.Count() > 0)
        {
            <table id="tblData" class="table table-bordered table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Nombre
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Rol
                        </th>
                        <th>
                            Estatus
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="dropzone-previews">
                    @foreach (var item in Global.vista_usuarios)
                    {
                        @if (item.user.Registro_Eliminado == 0)
                        {
                            <tr>
                                <td data-filter-by="text">
                                    @(item.user.Nombre + " " + item.user.Paterno + " " + item.user.Materno)
                                </td>
                                <td data-filter-by="text">
                                    @(item.user.Email)
                                </td>
                                <td data-filter-by="">
                                    @(item.Rol)
                                </td>
                                <td data-filter-by="">
                                    @(item.user.Estatus)
                                </td>
                                <td>
                                    <button class="btn btn-round" data-title="Nuevo Usuario"
                                            data-toggle="modal" data-target="#crear-usuario-modal" data-url="@Url.Action($"Edit/{item.user.Id_Usuario}")">
                                        <i class="material-icons">edit</i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-round" data-title="Nuevo Usuario"
                                            data-toggle="modal" data-target="#crear-usuario-modal" data-url="@Url.Action($"Edit/{item.user.Id_Usuario}")">
                                        <i class="material-icons">details</i>
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-round" data-title="Nuevo Usuario"
                                            data-toggle="modal" data-target="#crear-usuario-modal" data-url="@Url.Action($"Edit/{item.user.Id_Usuario}")">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </td>
                            </tr>
                        }

                    }
                </tbody>

            </table>
        }
        else
        {
            <label class="control-label">No hay usuarios registrados</label>
        }

    </div>
</div>
