@model SistemaCenagas.Models.Anexo1_PropuestaCambio

@{
    ViewData["Title"] = "Details";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="ProyectosLider" asp-action="Index">Mis proyectos</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="Anexo1_SolicitudesCambio" asp-action="Index">Solicitudes de cambio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Detalles</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.usuario.Titulo + " " + Global.usuario.Nombre + " | " + (Global.usuario.Rol != null ? Global.usuario.Rol : "Sin asignación"))
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h2 class="mb-0">Detalles propuesta</h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <dl class="row">
                            <dt class="col-sm-4">
                                Tipo de cambio:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Tipo_Cambio)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Fecha):
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Fecha)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                Residencia:
                            </dt>
                            <dd class="col-sm-8">
                                @(Global.residencias.Where(r => r.Id_Residencia == Model.Id_Residencia).FirstOrDefault().Nombre)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                Sector / Área:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Sector_Area)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                Planta o instalación:
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Planta_Instalacion)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                Proceso, maquinaria o equipo por modificar
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Proceso)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                Prestación del servicio
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Prestacion_Servicio)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Descripcion)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                Responsable de la administración del cambio
                            </dt>
                            <dd class="col-sm-8">
                                @(Global.vistaPropuesta.responsableADC)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                Resultados del análisis de la propuesta
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Resultados_Analisis)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                Resultados de la propuesta
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Resultados_Propuesta)
                            </dd>
                            <hr>
                            <dt class="col-sm-4">
                                @Html.DisplayNameFor(model => model.Estatus)
                            </dt>
                            <dd class="col-sm-8">
                                @Html.DisplayFor(model => model.Estatus)
                            </dd>
                        </dl>

                        <div>
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id_Proyecto">Editar</a>
                            <a class="btn btn-info" asp-action="Index">Regresar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
