@model SistemaCenagas.Models.Anexo1_PropuestaCambio

@{
    ViewData["Title"] = "Edit";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="ProyectosLider" asp-action="Index">Mis proyectos</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="Anexo1_SolicitudesLider" asp-action="Index">Solicitudes de cambio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Administrar</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.usuario.Titulo + " " + Global.usuario.Nombre + " | " + (Global.usuario.Rol != null ? Global.usuario.Rol : "Sin asignación"))
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h2 class="mb-0"> Administrar propuesta </h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id_PropuestaCambio" />
                            <input type="hidden" asp-for="Id_Proyecto" />
                            <input type="hidden" asp-for="Id_ProponenteCambio" />
                            <input type="hidden" asp-for="Tipo_Cambio" />
                            <input type="hidden" asp-for="Fecha" />
                            <input type="hidden" asp-for="Id_Residencia" />
                            <input type="hidden" asp-for="Sector_Area" />
                            <input type="hidden" asp-for="Planta_Instalacion" />
                            <input type="hidden" asp-for="Proceso" />
                            <input type="hidden" asp-for="Prestacion_Servicio" />
                            <input type="hidden" asp-for="Descripcion" />
                            <input type="hidden" asp-for="Estatus" value="En revisión" />

                            <div class="form-group">
                                <label class="control-label">Proponente del cambio</label>
                                <input disabled value="@(Global.vistaPropuesta.proponente)" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Tipo_Cambio" class="control-label">Tipo de cambio</label>
                                <input disabled asp-for="Tipo_Cambio" class="form-control" />
                                <span asp-validation-for="Tipo_Cambio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fecha" class="control-label"></label>
                                <input disabled asp-for="Fecha" class="form-control" />
                                <span asp-validation-for="Fecha" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Sector_Area" class="control-label">Sector / Área</label>
                                <input disabled asp-for="Sector_Area" value="@(Global.vistaPropuesta.sector_area)" class="form-control" />
                                <span asp-validation-for="Sector_Area" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Residencia</label>
                                <input disabled value="@(Global.vistaPropuesta.residencia)" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label asp-for="Planta_Instalacion" class="control-label">Planta o instalación</label>
                                <input disabled asp-for="Planta_Instalacion" value="@(Global.vistaPropuesta.planta_instalacion)" class="form-control" />
                                <span asp-validation-for="Planta_Instalacion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Proceso" class="control-label">Proceso, maquinaria o equipo por modificar</label>
                                <textarea disabled asp-for="Proceso" class="form-control"></textarea>
                                <span asp-validation-for="Proceso" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Prestacion_Servicio" class="control-label">Prestación del servicio de la maquinaria o equipo</label>
                                <input disabled asp-for="Prestacion_Servicio" class="form-control" />
                                <span asp-validation-for="Prestacion_Servicio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label">Descripción del cambio propuesto, indicando las razondes del mismo</label>
                                <textarea disabled asp-for="Descripcion" class="form-control"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Id_ResponsableADC" class="control-label">Asignar responsable de la administración del cambio</label>
                                <select required asp-for="Id_ResponsableADC" class="form-control" id="Id_ResponsableADC" name="Id_ResponsableADC">
                                    @foreach (var u in Global.responsables_adc)
                                    {
                                        <option value="@(u.Id_Usuario)"> @(u.Titulo + " " + u.Nombre + " " + u.Paterno + " " + u.Materno) </option>
                                    }
                                </select>
                                <span asp-validation-for="Id_ResponsableADC" class="text-danger"></span>
                            </div>
                            @if (Model.Resultados_Analisis != null)
                            {
                                <div class="form-group">
                                    <label asp-for="Resultados_Analisis" class="control-label">Resultados del análisis de la propuesta</label>
                                    <textarea disabled asp-for="Resultados_Analisis" class="form-control"></textarea>
                                    <span asp-validation-for="Resultados_Analisis" class="text-danger"></span>
                                </div>
                            }
                            @if (Model.Resultados_Propuesta != null)
                            {   
                                <div class="form-group">
                                    <label asp-for="Resultados_Propuesta" class="control-label">Resultados de la propuesta</label>
                                    <textarea disabled asp-for="Resultados_Propuesta" class="form-control"></textarea>
                                    <span asp-validation-for="Resultados_Propuesta" class="text-danger"></span>
                                </div>
                            }

                            <div class="form-group">
                                <input type="submit" id="sub" value="Guardar cambios" class="btn btn-primary" />
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
