@model SistemaCenagas.Models.DetalleProyecto

@{
    ViewData["Title"] = "Edit";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="Proyectos" asp-action="Index">Proyectos</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="DetalleProyecto" asp-action="index">Detalles</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>

        <div class="dropdown">
            <a class="dropdown-item">@(Global._usuario.Rol != null ? Global._usuario.Rol : Global._usuario.Nombre)</a>
        </div>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h2 class="mb-0">@ViewBag.folioProyecto</h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <dl class="row">
                            <dt class="col-sm-2">
                                Proyecto:
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.nombreProyecto
                            </dd>
                            <dt class="col-sm-2">
                                Instalación/Área:
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.instalacionArea
                            </dd>
                            <dt class="col-sm-2">
                                Tipo de cambio:
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.tipoCambio
                            </dd>
                            <dt class="col-sm-2">
                                Responsable de la ADC
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.empleadosProyecto[1]
                            </dd>
                            <dt class="col-sm-2">
                                Suplente:
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.empleadosProyecto[2]
                            </dd>
                            <dt class="col-sm-2">
                                Lider del equipo verificador:
                            </dt>
                            <dd class="col-sm-10">
                                @ViewBag.empleadosProyecto[0]
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id_DetalleProyecto" />
                            <input type="hidden" asp-for="Id_Proyecto" class="form-control" />
                            <input type="hidden" asp-for="Id_Residencia" class="form-control" />
                            <input type="hidden" asp-for="Id_Asignacion" class="form-control" />
                            <input type="hidden" asp-for="No_Desarrollo" class="form-control" />


                            <div class="form-group">
                                <label asp-for="Desarrollo" class="control-label"></label>
                                <input asp-for="Desarrollo" class="form-control" />
                                <span asp-validation-for="Desarrollo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descripcion_Actividad" class="control-label"></label>
                                <textarea asp-for="Descripcion_Actividad" class="form-control"></textarea>
                                <span asp-validation-for="Descripcion_Actividad" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Avance" class="control-label"></label>
                                <input asp-for="Avance" class="form-control" />
                                <span asp-validation-for="Avance" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Faltante_Comentarios" class="control-label"></label>
                                <textarea asp-for="Faltante_Comentarios" class="form-control"></textarea>
                                <span asp-validation-for="Faltante_Comentarios" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Comentarios" class="control-label"></label>
                                <input asp-for="Comentarios" class="form-control" />
                                <span asp-validation-for="Comentarios" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Plan_Accion" class="control-label"></label>
                                <input asp-for="Plan_Accion" class="form-control" />
                                <span asp-validation-for="Plan_Accion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Anexos" class="control-label"></label>
                                <input asp-for="Anexos" class="form-control" />
                                <span asp-validation-for="Anexos" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Tipo_Proyecto" class="control-label"></label>
                                <select asp-for="Tipo_Proyecto" class="form-control">
                                    <option>ADC</option>
                                    <option>Prearranque</option>
                                </select>
                                <span asp-validation-for="Tipo_Proyecto" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Guardar" class="btn btn-success" />
                                <a asp-action="Index" class="btn btn-danger">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
