<style type="text/css">
    html {
        font-family: Calibri, Arial, Helvetica, sans-serif;
        font-size: 11pt;
        background-color: white !important
    }

    a.comment-indicator:hover + div.comment {
        background: #ffd;
        position: absolute;
        display: block;
        border: 1px solid black;
        padding: 0.5em
    }

    a.comment-indicator {
        background: red;
        display: inline-block;
        border: 1px solid black;
        width: 0.5em;
        height: 0.5em
    }

    div.comment {
        display: none
    }

    table {
        border-collapse: collapse;
        page-break-after: always
    }

    .gridlines td {
        border: 1px dotted black
    }

    .gridlines th {
        border: 1px dotted black
    }

    .b {
        text-align: center
    }

    .e {
        text-align: center
    }

    .f {
        text-align: right
    }

    .inlineStr {
        text-align: left
    }

    .n {
        text-align: right
    }

    .s {
        text-align: left
    }

    td.style0 {
        vertical-align: bottom;
        border-bottom: none #000000;
        border-top: none #000000;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style0 {
        vertical-align: bottom;
        border-bottom: none #000000;
        border-top: none #000000;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style1 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #FFFFFF;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: #297165 !important
    }

    th.style1 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #FFFFFF;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: #297165 !important
    }

    td.style2 {
        vertical-align: bottom;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style2 {
        vertical-align: bottom;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style3 {
        vertical-align: bottom;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style3 {
        vertical-align: bottom;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style4 {
        vertical-align: bottom;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style4 {
        vertical-align: bottom;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style5 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style5 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style6 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style6 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style7 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style7 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style8 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #FFFFFF;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: #297165 !important
    }

    th.style8 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #FFFFFF;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: #297165 !important
    }

    td.style9 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Arial';
        font-size: 11pt;
        background-color: white !important
    }

    th.style9 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Arial';
        font-size: 11pt;
        background-color: white !important
    }

    td.style10 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Arial';
        font-size: 11pt;
        background-color: white !important
    }

    th.style10 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Arial';
        font-size: 11pt;
        background-color: white !important
    }

    td.style11 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style11 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style12 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style12 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style13 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style13 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style14 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style14 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style15 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style15 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style16 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style16 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style17 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style17 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style18 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style18 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style19 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style19 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style20 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: none #000000;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style20 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: none #000000;
        border-right: none #000000;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style21 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style21 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        font-weight: bold;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style22 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style22 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style23 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style23 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style24 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style24 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style25 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style25 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style26 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style26 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style27 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style27 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: none #000000;
        border-top: 1px solid #BF9000 !important;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style28 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style28 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: 1px solid #BF9000 !important;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style29 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style29 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: none #000000;
        border-right: none #000000;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style30 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style30 {
        vertical-align: middle;
        text-align: left;
        padding-left: 0px;
        border-bottom: 1px solid #BF9000 !important;
        border-top: none #000000;
        border-left: none #000000;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    td.style31 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    th.style31 {
        vertical-align: middle;
        text-align: center;
        border-bottom: 1px solid #BF9000 !important;
        border-top: 1px solid #BF9000 !important;
        border-left: 1px solid #BF9000 !important;
        border-right: 1px solid #BF9000 !important;
        color: #000000;
        font-family: 'Calibri';
        font-size: 11pt;
        background-color: white !important
    }

    table.sheet0 col.col0 {
        width: 60.32222153pt
    }

    table.sheet0 col.col1 {
        width: 60.32222153pt
    }

    table.sheet0 col.col2 {
        width: 60.32222153pt
    }

    table.sheet0 col.col3 {
        width: 60.32222153pt
    }

    table.sheet0 col.col4 {
        width: 60.32222153pt
    }

    table.sheet0 col.col5 {
        width: 60.32222153pt
    }

    table.sheet0 col.col6 {
        width: 60.32222153pt
    }

    table.sheet0 col.col7 {
        width: 60.32222153pt
    }

    table.sheet0 col.col8 {
        width: 60.32222153pt
    }

    table.sheet0 col.col9 {
        width: 60.32222153pt
    }

    table.sheet0 col.col10 {
        width: 60.32222153pt
    }

    table.sheet0 col.col11 {
        width: 60.32222153pt
    }

    table.sheet0 tr {
        height: 15pt
    }

        table.sheet0 tr.row10 {
            height: 15pt
        }

        table.sheet0 tr.row11 {
            height: 15pt
        }

        table.sheet0 tr.row12 {
            height: 15pt
        }

        table.sheet0 tr.row13 {
            height: 15pt
        }

        table.sheet0 tr.row15 {
            height: 15pt
        }

        table.sheet0 tr.row27 {
            height: 15pt
        }

        table.sheet0 tr.row57 {
            height: 15pt
        }
</style>

<script type="text/javascript">

    function download() {
        $("#btnDescargar").attr('hidden', true);
        setTimeout(function () { window.print(); $("#btnDescargar").removeAttr('hidden'); }, 1000);


    }
</script>
<link href="PrintPage.css" rel="stylesheet" type="text/css" />

@model V_Reporte_Anexo1_ADC

<div style="padding-left:10px; padding-right:10px;">

    <table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines" style="width:100% ;">
        <col class="col0">
        <col class="col1">
        <col class="col2">
        <col class="col3">
        <col class="col4">
        <col class="col5">
        <col class="col6">
        <col class="col7">
        <col class="col8">
        <col class="col9">
        <col class="col10">
        <col class="col11">
        <tbody>
            <tr class="row0">
                <td style="padding:5px ;" class="column0 style6 null style6" colspan="4">
                    <img src="@Url.Content(Controls.url_logo)" width="250" />
                </td>
                <td style="padding: 5px ;" class="column4 style6 s style7" colspan="8">
                    <br />UNIDAD DE TRANSPORTE Y ALMACENAMIENTO<br />
                    PROCEDIMIENTO DE ADMINISTRACIÓN DE CAMBIOS TEMPORALES O DEFINITIVOS<br />
                    PROPUESTA Y ANÁLISIS DE CAMBIO<br /><br />
                </td>
            </tr>
            <tr class="row6">
                <td style="padding: 5px ;" class="column0 style10 null style10" colspan="9"></td>
                <td style="padding: 5px ;" class="column9 style9 s style9" colspan="3">PRO-CE-UTA-020-F01</td>
            </tr>
            <tr class="row7">
                <td style="padding: 5px ;" class="column0 style8 s style8" colspan="12">1. Lugar para cambio propuesto</td>
            </tr>
            <tr class="row8">
                <td style="padding: 5px ;" class="column0 style7 s style7" colspan="2">Tipo de cambio</td>
                <td style="padding: 5px ;" class="column2 style7 s style7" colspan="2">Temporal</td>
                <td style="padding: 5px ;" class="column4 style11 s style11">
                    @if (Model.anexo1.anexo1.Tipo_Cambio.Equals("Temporal"))
                    {
                        <span style='font-size:30px;'>&#9746;</span>
                    }
                    else
                    {
                        <span style='font-size:30px;'>&#9744;</span>
                    }
                </td>
                <td style="padding: 5px ;" class="column5 style7 s style7" colspan="2">Permanente</td>
                <td style="padding: 5px ;" class="column7 style11 s style11">
                    @if (Model.anexo1.anexo1.Tipo_Cambio.Equals("Permanente"))
                    {
                        <span style='font-size:30px;'>&#9746;</span> 
                    }
                    else
                    {
                        <span style='font-size:30px;'>&#9744;</span>
                    }
                </td>
                <td style="padding: 5px ;" class="column8 style7 s style7" colspan="2">Fecha propuesta</td>
                <td style="padding: 5px ;" class="column10 style12 s style12" colspan="2">@(Convert.ToDateTime(Model.anexo1.anexo1.Fecha).ToShortDateString())</td>
            </tr>
            <tr class="row10">
                <td style="padding: 5px ;" class="column0 style13 s style15" colspan="3">Centro de trabajo:</td>
                <td style="padding: 5px ;" class="column3 style22 s style24" colspan="9">@(Model.anexo1.residencia)</td>
            </tr>
            <tr class="row11">
                <td style="padding: 5px ;" class="column0 style13 s style15" colspan="3">Sector / Área:</td>
                <td style="padding: 5px ;" class="column3 style22 s style24" colspan="9">@(Model.anexo1.gasoducto)</td>
            </tr>
            <tr class="row12">
                <td style="padding: 5px ;" class="column0 style13 s style15" colspan="3">Planta o instalación:</td>
                <td style="padding: 5px ;" class="column3 style22 s style24" colspan="9">@(Model.anexo1.tramo)</td>
            </tr>
            <tr class="row13">
                <td style="padding: 5px ;" class="column0 style16 s style18" colspan="3">
                    Proceso, Maquinaria o Equipo<br />
                    por modificar:
                </td>
                <td style="padding: 5px ;" class="column3 style25 s style27" colspan="9">@(Model.anexo1.anexo1.Proceso)</td>
            </tr>
            <tr class="row15">
                <td style="padding: 5px ;" class="column0 style16 s style18" colspan="3">
                    Prestación del servicio de la<br />
                    maquinaria o equipo:
                </td>
                <td style="padding: 5px ;" class="column3 style25 s style27" colspan="9">@(Model.anexo1.anexo1.Prestacion_Servicio)</td>
            </tr>
            <tr class="row17">
                <td style="padding: 5px ;" class="column0 style1 s style1" colspan="12">2. Descripción del cambio propuesto, indicando las razones del mismo</td>
            </tr>
            <tr class="row18">
                <td style="padding: 5px ;" class="column0 style5 s style5" colspan="12">@(Model.anexo1.anexo1.Descripcion)</td>
            </tr>
            <tr class="row19">
                <td style="padding: 5px ;" class="column0 style1 s style1" colspan="12">3. Resultado del análisis de la propuesta</td>
            </tr>
            <tr class="row20">
                <td style="padding: 5px ;" class="column0 style5 s style5" colspan="12">@(Model.anexo1.anexo1.Resultados_Propuesta)</td>
            </tr>
            <tr class="row21">
                <td style="padding: 5px ;" class="column0 style1 s style1" colspan="6">Proponente del cambio</td>
                <td style="padding: 5px ;" class="column6 style1 s style1" colspan="6">Responsable de la administración del cambio</td>
            </tr>
            <tr class="row22">
                <td style="padding: 5px ;" class="column0 style12 s style12" colspan="6"><br />@(Model.adc.proponente)<br /><br /><br /></td>
                <td style="padding: 5px ;" class="column6 style12 s style12" colspan="6"><br />@(Model.adc.responsable)<br /><br /><br /></td>
            </tr>
            <tr class="row27">
                <td style="padding: 5px ;" class="column0 style6 s style6" colspan="6">(Nombre, departamento, descripción, firma)</td>
                <td style="padding: 5px ;" class="column6 style6 s style6" colspan="6">(Nombre, departamento, descripción, firma)</td>
            </tr>
            <tr class="row28">
                <td style="padding: 5px ;" class="column0 style5 s style5" colspan="12">La sección 4 debe ser completada por el responsable de la administración del cambio</td>
            </tr>
            <tr class="row29">
                <td style="padding: 5px ;" class="column0 style1 s style1" colspan="12">4. Resultado de la propuesta</td>
            </tr>
            <tr class="row30">
                <td style="padding: 5px ;" class="column0 style5 s style5" colspan="12">@(Model.anexo1.anexo1.Resultados_Analisis)</td>
            </tr>
            <tr class="row31">
                <td class="column0 style1 s style1" colspan="5">CAMBIO ACEPTADO</td>
                <td style="padding: 5px ;" class="column5 style31 s">
                    @if (Model.anexo1.anexo1.Estatus.Equals("Aceptado"))
                    {
                        <span style='font-size:30px;'>&#9746;</span> 
                    }
                    else
                    {
                        <span style='font-size:30px;'>&#9744;</span>
                    }
                </td>
                <td class="column6 style1 s style1" colspan="5">CAMBIO RECHAZADO</td>
                <td style="padding: 5px ;" class="column11 style31 s">
                    @if (Model.anexo1.anexo1.Estatus.Equals("Rechazado"))
                    {
                        <span style='font-size:30px;'>&#9746;</span> 
                    }
                    else
                    {
                        <span style='font-size:30px;'>&#9744;</span>
                    }
                </td>
            </tr>
            <tr class="row32">
                <td style="padding: 5px ;" class="column0 style2 null style4" colspan="12"></td>
            </tr>

        </tbody>
    </table>
    <br />
    <br />

    <button id="btnDescargar" class="btn btn-danger" onclick="download();">Descargar</button>

</div>

