@model SistemaCenagas.Models.Anexo1_PropuestaCambio

@{
    ViewData["Title"] = "Edit";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="ProyectosADC" asp-action="Index">ADC</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-controller="Anexo1_PropuestaCambio" asp-action="Index">Propuestas</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Editar</li>
            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.usuario.Titulo + " " + Global.usuario.Nombre + " | " + (Global.usuario.Rol != null ? Global.usuario.Rol : "Sin asignación"))
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h2 class="mb-0"> Editar propuesta </h2>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile">
                        <!--end of avatar-->
                        <form asp-action="Edit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id_PropuestaCambio" />
                            <input type="hidden" asp-for="Id_Proyecto" value="@(Global.proyecto.Id_Proyecto)" class="form-control" />
                            <input type="hidden" asp-for="Id_ProponenteCambio" value="@(Global.usuario.Id_Usuario)" class="form-control" />
                            <div class="form-group">
                                <label asp-for="Tipo_Cambio" class="control-label">Tipo de cambio</label>
                                <select asp-for="Tipo_Cambio" class="form-control">
                                    <option>Temporal</option>
                                    <option>Permanente</option>
                                </select>
                                <span asp-validation-for="Tipo_Cambio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Fecha" class="control-label"></label>
                                <input asp-for="Fecha" class="form-control" type="date" />
                                <span asp-validation-for="Fecha" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Sector_Area" class="control-label">Sector / Área</label>
                                <select required asp-for="Sector_Area" class="form-control" name="Sector_Area" id="Sector_Area" asp-items="@(new SelectList(Global.gasoductos, "Ut_Gasoducto", "Gasoducto"))">
                                </select>
                                <span asp-validation-for="Sector_Area" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Id_Residencia" class="control-label">Residencia</label>
                                <select required asp-for="Id_Residencia" class="form-control" id="Id_Residencia" name="Id_Residencia" asp-items="@(new SelectList(Global.residencias, "Id_Residencia", "Nombre"))">
                                </select>
                                <span asp-validation-for="Id_Residencia" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Planta_Instalacion" class="control-label">Planta o instalación</label>
                                <select required asp-for="Planta_Instalacion" class="form-control" id="Planta_Instalacion" asp-items="@(new SelectList(Global.tramos, "Ut_Tramo", "Tramo"))">
                                </select>
                                <span asp-validation-for="Planta_Instalacion" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Proceso" class="control-label">Proceso, maquinaria o equipo por modificar</label>
                                <textarea required asp-for="Proceso" class="form-control"></textarea>
                                <span asp-validation-for="Proceso" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Prestacion_Servicio" class="control-label">Prestación del servicio de la maquinaria o equipo</label>
                                <input asp-for="Prestacion_Servicio" class="form-control" />
                                <span asp-validation-for="Prestacion_Servicio" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Descripcion" class="control-label">Descripción del cambio propuesto, indicando las razondes del mismo</label>
                                <textarea required asp-for="Descripcion" class="form-control"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            @if (Model.Id_ResponsableADC != 1)
                            {
                                <input type="hidden" asp-for="Id_ResponsableADC" />
                                <div class="form-group">
                                    <label class="control-label">Responsable de la administración del cambio</label>
                                    <input disabled class="form-control" value="@(Global.vistaPropuesta.responsableADC)" />
                                </div>
                            }
                            @if (Model.Resultados_Analisis != null)
                            {
                                <input type="hidden" asp-for="Resultados_Analisis" />
                                <div class="form-group">
                                    <label asp-for="Resultados_Analisis" class="control-label">Resultados del análisis de la propuesta</label>
                                    <textarea disabled asp-for="Resultados_Analisis" class="form-control"></textarea>
                                    <span asp-validation-for="Resultados_Analisis" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Resultados_Propuesta" class="control-label">Resultados de la propuesta</label>
                                    <textarea required asp-for="Resultados_Propuesta" class="form-control"></textarea>
                                    <span asp-validation-for="Resultados_Propuesta" class="text-danger"></span>
                                </div>
                            }
                            @if (Model.Id_ResponsableADC != 1)
                            {
                                <input type="hidden" asp-for="Estatus" />
                                <div class="form-group">
                                    <label class="control-label">Estatus de la propuesta</label>
                                    <input disabled class="form-control" value="@(Global.vistaPropuesta.estatus)" />
                                </div>
                            }
                            <div class="form-group">
                                <input type="submit" id="sub" value="Guardar cambios" class="btn btn-primary" />
                                <a class="btn btn-danger" asp-action="Index">Cancelar</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
