@model SistemaCenagas.Models.ADC_Anexo3Model_EquipoVerificador

@{
    ViewData["Title"] = "Edit";
    Global global = (Global)ViewBag.global;

    int contResponsables = 0;
}

<script>

    function validateCheck(i) {
        $("#Check_" + (i + 1)).change(function () {

            //alert("#Check_" + (i + 1) + ":" + $("#Check_" + (i + 1)).is(':checked') + ", #Input_Check_" + (i+1));

            if ($("#Check_" + (i + 1)).is(':checked')) {
                $("#Input1_Check_" + (i + 1)).removeAttr('disabled');
                $("#Input2_Check_" + (i + 1)).removeAttr('disabled');
            }
            else {
                $("#Input1_Check_" + (i + 1)).attr('disabled', 'disabled');
                $("#Input2_Check_" + (i + 1)).attr('disabled', 'disabled');
            }

        });
    }

    validateCheck(0);
    validateCheck(1);
    validateCheck(2);
    validateCheck(3);
    validateCheck(4);
    validateCheck(5);
    validateCheck(6);
    validateCheck(7);
    validateCheck(8);
    validateCheck(9);
    validateCheck(10);
    validateCheck(11);
    validateCheck(12);
    validateCheck(13);
    validateCheck(14);
    validateCheck(15);
    validateCheck(16);
    validateCheck(17);
    validateCheck(18);
    validateCheck(19);
    validateCheck(20);
    validateCheck(21);

</script>

<div class="modal fade" tabindex="-1" role="dialog" id="editarAnexo3-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    @(global.anexos.Where(a => a.Id == 3).FirstOrDefault().Nombre):
                    <br />
                    @(global.proyectos.Nombre)
                </h6>
                <a asp-controller="ADC_Procesos" asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">

                <form asp-action="Edit4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="anexo3.Fecha_Registro" />
                    <input type="hidden" asp-for="anexo3.Id_Anexo1" />
                    <input type="hidden" asp-for="anexo3.Id_Anexo2" />
                    <input type="hidden" asp-for="anexo3.Id" />
                    <input type="hidden" asp-for="anexo3.Id_Responsable_ADC" />
                    <input type="hidden" asp-for="anexo3.Id_Director_Seguridad_Industrial" />
                    <input type="hidden" asp-for="anexo3.Id_Director_Ejecutivo_Mantenimiento_y_Seguridad" />
                    <input type="hidden" asp-for="anexo3.Id_Director_Ejecutivo_Operacion" />



                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Folio ADC</label>
                                <div class="col">
                                    <input type="text" value="@(ViewBag.folio)" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label asp-for="anexo3.Fecha_Registro" class="col-2" style="text-align:right;">Fecha registro</label>
                                <div class="col">
                                    <input type="text" asp-for="anexo3.Fecha_Registro" class="form-control" disabled />
                                </div>
                                <span asp-validation-for="anexo3.Fecha_Registro" class="text-danger"></span>
                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Tipo de ADC</label>
                                <div class="col">
                                    <input type="text" value="@(ViewBag.TipoCambio1)" class="form-control" disabled />

                                </div>
                                <div class="col form-group">
                                    <input type="hidden" asp-for="anexo3.Tipo_ADC" />
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="Nuevo"
                                               @(Model.anexo3.Tipo_ADC.Equals("Nuevo") ? "checked='checked''" : "") name="tipo" disabled />
                                        <label class="form-check-label">Nuevo</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="Rehabilitado"
                                               @(Model.anexo3.Tipo_ADC.Equals("Rehabilitado") ? "checked='checked''" : "") name="tipo" disabled />
                                        <label class="form-check-label">Rehabilitado</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" value="Modificado"
                                               @(Model.anexo3.Tipo_ADC.Equals("Modificado") ? "checked='checked''" : "") name="tipo" disabled />
                                        <label class="form-check-label">Modificado</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Residencia</label>
                                <div class="col">
                                    <input type="text" value="@(ViewBag.residencia)" class="form-control" disabled />
                                </div>
                            </div>

                            <hr />
                            <div class="form-group row align-items-center">

                                <label class="col-2" style="text-align:right;">Modificaciones</label>
                                <div class="col">
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="anexo3.Equipo" />
                                        <input asp-for="anexo3.Equipo" class="form-check-input" type="checkbox" disabled>
                                        <label class="form-check-label">Equipo</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="anexo3.Instrumento" />
                                        <input asp-for="anexo3.Instrumento" class="form-check-input" type="checkbox" disabled id="inlineCheckbox1">
                                        <label class="form-check-label">Instrumento</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="anexo3.Componente_o_Dispositivo" />
                                        <input asp-for="anexo3.Componente_o_Dispositivo" class="form-check-input" type="checkbox" disabled id="inlineCheckbox2">
                                        <label class="form-check-label">Componente o dispositivo</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="anexo3.Valvula" />
                                        <input asp-for="anexo3.Valvula" class="form-check-input" type="checkbox" disabled>
                                        <label class="form-check-label">Válvula</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="anexo3.Accesorio_o_Ducto" />
                                        <input asp-for="anexo3.Accesorio_o_Ducto" class="form-check-input" type="checkbox" disabled id="inlineCheckbox2">
                                        <label class="form-check-label">Accesorio unido al Ducto</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="anexo3.Estacion_Compresion" />
                                        <input asp-for="anexo3.Estacion_Compresion" class="form-check-input" type="checkbox" disabled id="inlineCheckbox2">
                                        <label class="form-check-label">Estación de Compresión</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="anexo3.Estacion_Medicion_y_Regulacion" />
                                        <input asp-for="anexo3.Estacion_Medicion_y_Regulacion" class="form-check-input" type="checkbox" disabled>
                                        <label class="form-check-label">Estación de Medición y Regulación</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="anexo3.Trampa_Envios_y_Recibo_Diablos" />
                                        <input asp-for="anexo3.Trampa_Envios_y_Recibo_Diablos" class="form-check-input" type="checkbox" disabled id="inlineCheckbox2">
                                        <label class="form-check-label">Trampa de envios y recibo de diablos</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="hidden" asp-for="OtroElemento_CheckValue">
                                        <input asp-for="OtroElemento_CheckValue" class="form-check-input" type="checkbox" disabled id="Check_OtroElemento">
                                        <label class="form-check-label">Otro</label>

                                    </div>
                                    <div class="form-check form-check-inline" @(Model.OtroElemento_CheckValue.Equals("false") ? "hidden" : "") id="Div_OtroElemento">
                                        <input type="hidden" asp-for="OtroElemento">
                                        <input asp-for="OtroElemento" placeholder="Describe la modificación" class="form-control" type="text" disabled id="Input_OtroElemento">
                                    </div>
                                </div>

                            </div>
                            <hr />

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">No. de identificación del proceso, maquinaria o equipo:</label>
                                <div class="col">
                                    <input type="hidden" asp-for="anexo3.Numero_Identificacion" />
                                    <input asp-for="anexo3.Numero_Identificacion" type="text" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Describir riesgo inminente:</label>
                                <div class="col">
                                    <input type="hidden" asp-for="anexo3.Descripcion_Riesgo" />
                                    <textarea asp-for="anexo3.Descripcion_Riesgo" type="text" class="form-control" disabled></textarea>
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Inversión económica del cambio $:</label>
                                <div class="col">
                                    <input type="hidden" asp-for="anexo3.Inversion_Cambio" />
                                    <input asp-for="anexo3.Inversion_Cambio" type="number" class="form-control" disabled />
                                </div>
                                <label class="col-2" style="text-align:right;">Moneda:</label>
                                <div class="col">
                                    <input type="hidden" asp-for="anexo3.Tipo_Moneda" />
                                    <input asp-for="anexo3.Tipo_Moneda" type="text" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Periodo que conlleva el cambio:</label>
                                <div class="col">
                                    <label class="col-2" style="text-align:right;">Fecha inicio</label>
                                    <input asp-for="anexo3.Fecha_Inicio" type="hidden" />
                                    <input asp-for="anexo3.Fecha_Inicio" type="date" class="form-control" disabled />
                                </div>
                                <div class="col">
                                    <label class="col-2" style="text-align:right;">Fecha término</label>
                                    <input asp-for="anexo3.Fecha_Termino" type="hidden" />
                                    <input asp-for="anexo3.Fecha_Termino" type="date" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Justificación técnico-económico del cambio:</label>
                                <div class="col">
                                    @if (new List<int>() { global.RESPONSABLE_ADC, global.ADMINISTRADOR, global.SUPERADMIN }
                                    .Contains(global.session_usuario.user.Id_Rol))
                                    {
                                        <textarea asp-for="anexo3.Justificacion" type="text" class="form-control" required></textarea>
                                    }
                                    else
                                    {
                                        <input type="hidden" asp-for="anexo3.Justificacion" />
                                        <textarea asp-for="anexo3.Justificacion" type="text" class="form-control" disabled></textarea>
                                    }
                                </div>
                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-2" style="text-align:right;">Descripción del cambio:</label>
                                <div class="col">
                                    @if (new List<int>() { global.EQUIPO_VERIFICADOR, global.LIDER_EQUIPO_VERIFICADOR, global.ADMINISTRADOR, global.SUPERADMIN }
                                   .Contains(global.session_usuario.user.Id_Rol))
                                    {
                                        <textarea asp-for="anexo3.Descripcion_Cambio" type="text" class="form-control" required></textarea>
                                    }
                                    else
                                    {
                                        <input type="hidden" asp-for="anexo3.Descripcion_Cambio" />
                                        <textarea asp-for="anexo3.Descripcion_Cambio" type="text" class="form-control" disabled></textarea>
                                    }
                                </div>
                            </div>

                            @if (new List<int>() { global.EQUIPO_VERIFICADOR, global.LIDER_EQUIPO_VERIFICADOR, global.ADMINISTRADOR, global.SUPERADMIN }
                                   .Contains(global.session_usuario.user.Id_Rol))
                            {
                                <hr />
                                <div class="form-group row align-items-center">
                                    <div class="col">
                                        <label class="col-6" style="text-align:right;">Documentación por parte del equipo verificador</label>
                                    </div>
                                </div>
                                <hr />
                                <div class="form-group row align-items-center">
                                    <div class="col">
                                        <table id="example" class="table table-striped table-bordered" style="width:100%">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th></th>
                                                    <th>Tipo de documentacion</th>
                                                    <th>Documentos requeridos</th>
                                                    <th>Responsable / Área</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < 22; i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <input asp-for="documentacion[i].Check" class="form-check-input" type="checkbox" id="Check_@(i+1)">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-check form-check-inline">
                                                                <label class="form-check-label">@(global.anexo3_CatalogoTipoDocumentacion.ElementAt(i).TipoDocumentacion)</label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group row align-items-center">
                                                                <div class="col">
                                                                    @if (Model.documentacion[i].Check.Equals("true"))
                                                                    {
                                                                        <textarea asp-for="documentacion[i].Anotaciones" type="text" placeholder="" class="form-control" id="Input1_Check_@(i+1)"></textarea>
                                                                    }
                                                                    else
                                                                    {
                                                                        <textarea asp-for="documentacion[i].Anotaciones" type="text" placeholder="" class="form-control" id="Input1_Check_@(i+1)" disabled></textarea>
                                                                    }


                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group row align-items-center">
                                                                <div class="col">
                                                                    @if (Model.documentacion[i].Check.Equals("true"))
                                                                    {
                                                                        <textarea asp-for="documentacion[i].Responsable_Area" type="text" placeholder="" class="form-control" id="Input2_Check_@(i+1)"></textarea>
                                                                    }
                                                                    else
                                                                    {
                                                                        <textarea asp-for="documentacion[i].Responsable_Area" type="text" placeholder="" class="form-control" id="Input2_Check_@(i+1)" disabled></textarea>
                                                                    }

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            }
                            else
                            {
                                @for (int i = 0; i < 22; i++)
                                {
                                    <input type="hidden" asp-for="documentacion[i].Check" />
                                    <input type="hidden" asp-for="documentacion[i].Anotaciones" />
                                    <input type="hidden" asp-for="documentacion[i].Responsable_Area" />
                                }
                            }


                            <hr />
                        </div>

                    </div>



                    <div class="modal-footer">

                        <button type="submit" role="button" class="btn btn-success">
                            Guardar
                        </button>
                        <a class="btn btn-dark" asp-controller="ADC_Procesos" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<!--script type="text/javascript" src="~/lib/jquery/dist/combo_cascada_edit.js"></script>
<script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
