
@{
    ViewData["Title"] = "Index";
}

<div class="main-container">

    <div class="navbar bg-white breadcrumb-bar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Dashboard">Inicio</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Actividades ADC</li>

            </ol>
        </nav>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">
                    @(Global.session_usuario.user.Titulo + " " + Global.session_usuario.user.Nombre + " | " + Global.session_usuario.Rol)
                </li>
            </ol>
        </nav>

    </div>
    <div class="container">
        <div class="page-header mb-4">
            <div class="media">
                <div class="media-body ml-3">
                    <h3 class="mb-0">Actividades para la administración de cambios</h3>
                </div>
                <div class="col-4 text-right">
                    <a class="btn btn-primary form-control" asp-action="Create">Nueva actividad</a>
                </div>
            </div>

        </div>
        @if (Global.vista_actividadesADC.Count() > 0)
        {
            <table id="tblData" class="table table-bordered table-responsive-xl">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Nombre
                        </th>
                        <th style="width:10%;"></th>
                        <th style="width:10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Global.vista_actividadesADC)
                    {
                        @if (item.Registro_Eliminado == 0)
                        {
                            <tr>
                                <td>
                                    @(item.Id_Actividad)
                                </td>
                                <td>
                                    @(item.Actividad)
                                </td>
                                <td style="width:10%;">
                                    <a class="btn btn-dark form-control" asp-action="Normativas" asp-route-id="@item.Id_Actividad">Normativas</a>
                                </td>
                                <td style="width:10%;">
                                    <a class="btn btn-info form-control" asp-action="Edit" asp-route-id="@item.Id_Actividad">Editar</a>
                                </td>
                                <!--td style="width:10%;">
                                    <a class="btn btn-danger form-control" asp-action="Delete" asp-route-id="@item.Id_Actividad">Eliminar</a>
                                </td-->
                            </tr>
                        }

                    }
                </tbody>
            </table>
        }
        else
        {
            <label class="control-label">No hay actividades registradas</label>
        }

    </div>
</div>
