@model SistemaCenagas.Models.ADC_Anexo1

@{
    ViewData["Title"] = "Create";
    Global global = (Global)ViewBag.global;
}

<script>
    $("#Residencia").change(function () {

        //$("#Gasoducto").empty();
        //$("#Tramo").empty();

        if ($("#Residencia").val() != "-1") {
            $.ajax({
                type: "Post",
                url: "/ADC_Anexo1/getGasoductos",
                data: { "id_residencia": $("#Residencia").val() },
                success: function (response) {
                    var items = "<option value='-1'>--- Selecciona una opción ---</option>";
                    $(response).each(function () {
                        items += "<option value='" + this.value + "'>" + this.text + "</option>";
                    })
                    $("#Gasoducto").html(items);
                },
                failure: function (response) {
                    alert("Failure: " + response.responseText);
                },
                error: function (response) {
                    alert("Error: " + response.responseText);
                }

            });
            validarCombos();
        }

    });

    $("#Gasoducto").change(function () {
        //$("#Tramo").empty();
        if ($("#Gasoducto").val() != "--- Selecciona una opción ---") {
            $.ajax({
                type: "Post",
                url: "/ADC_Anexo1/getTramos",
                data: { "ut_gasoducto": $("#Gasoducto").val() },
                success: function (response) {
                    var items = "<option value='-1'>--- Selecciona una opción ---</option>";
                    $(response).each(function () {
                        items += "<option value='" + this.value + "'>" + this.text + "</option>";
                    })
                    $("#Tramo").html(items);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            });
            validarCombos();
        }

    });

    $("#Tramo").change(function () {
        validarCombos();
    });


    function validarCombos() {

        if ($("#Residencia").val() != "-1" &&
            $("#Gasoducto").val() != "-1" &&
            $("#Tramo").val() != "-1") {

            $("#btn_crear").removeAttr('disabled');
        }
        else {
            $("#btn_crear").attr('disabled', 'disabled');
        }
    }


</script>

<script>

    var textarea__max_length = 3000;

    $('#textarea1').text("Longitud máxima: " + 0 + "/" + textarea__max_length);
    $('#textarea2').text("Longitud máxima: " + 0 + "/" + textarea__max_length);
    $('#textarea3').text("Longitud máxima: " + 0 + "/" + textarea__max_length);

    function set(val, textarea) {
        $(textarea).text("Longitud máxima: " + val + "/" + textarea__max_length);
    }

    function countChar(val, txtarea) {
        var len = val.value.length;
        if (len > textarea__max_length) {
            val.value = val.value.substring(0, textarea__max_length);
        } else {
            $(txtarea).text("Longitud máxima: " + len + "/" + textarea__max_length);
        }
    };


</script>


<div class="modal fade" tabindex="-1" role="dialog" id="nuevoADC-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    @(global.anexos.Where(a => a.Id == 1).FirstOrDefault().Nombre):
                    <br />
                    @(global.proyectos.Nombre)
                </h6>
                <a asp-controller="ADC_Proyecto" asp-action="Index" class="close btn btn-round">
                    <i class="material-icons">close</i>
                </a>
            </div>
            <!--end of modal head-->
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Registro_Eliminado" value="0" />
                    <input type="hidden" asp-for="Id_Proyecto" value="@(global.proyectos.Id)" />
                    <input type="hidden" asp-for="Fecha" value="@(ViewBag.fecha)" />

                    <div class="form-group row align-items-center">
                        <label asp-for="Tipo_Cambio" class="col-2" style="text-align:right;">Tipo de cambio</label>
                        <div class="col">
                            <select asp-for="Tipo_Cambio" class="form-control" required>
                                <option>Temporal</option>
                                <option>Permanente</option>
                            </select>
                        </div>
                        <span asp-validation-for="Tipo_Cambio" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Fecha" class="col-2" style="text-align:right;"></label>
                        <div class="col">
                            <input type="text" asp-for="Fecha" value="@(ViewBag.fecha)" class="form-control" disabled />
                        </div>
                        <span asp-validation-for="Fecha" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Id_Residencia" class="col-2" style="text-align:right;">Residencia</label>
                        <div class="col">
                            <select id="Residencia" asp-for="Id_Residencia" class="form-control" required>
                                <option value="-1">--- Selecciona una opción ---</option>
                                @foreach (var item in global.residencias)
                                {
                                    <option value="@(item.Id)">@(item.Nombre)</option>
                                }
                            </select>
                        </div>
                        <span asp-validation-for="Id_Residencia" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Ut_Gasoducto" class="col-2" style="text-align:right;">Sistema de transporte</label>
                        <div class="col">
                            <select id="Gasoducto" asp-for="Ut_Gasoducto" class="form-control" required>
                                <option value="-1">--- Selecciona una opción ---</option>
                            </select>
                        </div>
                        <span asp-validation-for="Ut_Gasoducto" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Ut_Tramo" class="col-2" style="text-align:right;">Tramo</label>
                        <div class="col">
                            <select id="Tramo" asp-for="Ut_Tramo" class="form-control" required>
                                <option value="-1">--- Selecciona una opción ---</option>
                            </select>
                        </div>
                        <span asp-validation-for="Ut_Tramo" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Proceso" class="col-2" style="text-align:right;">
                            Proceso, maquinaria o equipo por modificar
                        </label>
                        <div class="col">
                            <textarea type="text" asp-for="Proceso" class="form-control" onkeyup="countChar(this, '#textarea1');" style="height:300px;" required></textarea>
                            <label id="textarea1" style="color:grey; font-size:12px;"></label>
                        </div>
                        <span asp-validation-for="Proceso" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Prestacion_Servicio" class="col-2" style="text-align:right;">
                            Prestación del servicio de la maquinaria o equipo
                        </label>
                        <div class="col">
                            <textarea type="text" asp-for="Prestacion_Servicio" class="form-control" onkeyup="countChar(this, '#textarea2');" style="height:300px;" required></textarea>
                            <label id="textarea2" style="color:grey; font-size:12px;"></label>
                        </div>
                        <span asp-validation-for="Prestacion_Servicio" class="text-danger"></span>
                    </div>
                    <div class="form-group row align-items-center">
                        <label asp-for="Descripcion" class="col-2" style="text-align:right;">
                            Descripción del cambio propuesto, indicando las razones del mismo
                        </label>
                        <div class="col">
                            <textarea type="text" asp-for="Descripcion" class="form-control" onkeyup="countChar(this, '#textarea3');" style="height:300px;" required></textarea>
                            <label id="textarea3" style="color:grey; font-size:12px;"></label>
                        </div>
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">

                        <button id="btn_crear" type="submit" role="button" class="btn btn-success" disabled>
                            Crear
                        </button>
                        <a class="btn btn-dark" asp-controller="ADC_Proyecto" asp-action="Index">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--script type="text/javascript" src="~/lib/jquery/dist/combo_cascada.js"></script-->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
